<!-- @format -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>공지사항 관리</title>
    <style>
        ul#paging {
            display: flex;
            justify-content: center;
        }
    </style>
    <link
            href="https://hangeul.pstatic.net/hangeul_static/css/nanum-barun-gothic.css"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/admin/default.css" />
    <link rel="stylesheet" href="/css/admin/sidebar.css" />
    <link rel="stylesheet" href="/css/admin/content.css" />
    <link rel="stylesheet" href="/css/admin/status.css" />
    <link rel="stylesheet" href="/css/admin/map.css" />
    <link
            rel="shortcut icon"
            href="/images/favicon.png"
            type="image/x-icon"
    />
    <link rel="stylesheet" href="/css/admin/storage-modal.css" />
    <link
            href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/variable/woff2/SUIT-Variable.css"
            rel="stylesheet"
    />
    <style>
        body {
            font-family: 'SUIT Variable', sans-serif;
        }
    </style>
</head>
<body>
<section class="main">
    <section class="sidebar">
        <div class="sidebar__wrapper">
            <a class="sidebar__wrapper__slider">
                <svg xmlns="http://www.w3.org/2000/svg" id="Icons" viewBox="0 0 24 24">
                    <defs>
                        <style>
                            .cls-1 {
                                fill: #ffffff;
                            }
                        </style>
                    </defs>
                    <rect class="cls-1" height="4" rx="2" width="22" x="1" y="2" />
                    <rect class="cls-1" height="4" rx="2" width="22" x="1" y="18" />
                    <rect class="cls-1" height="4" rx="2" width="22" x="1" y="10" />
                </svg>
            </a>
        </div>
        <div class="sidebar__main">
            <div class="sidebar__logo">
                <img src="/images/logo.png" />
            </div>
            <div class="sidebar__menu-nav">
                <!-- 회원관리 -->
                <a href="/admin/admin-member" class="sidebar__menu">
                    <div class="sidebar__menu__name">
                        <div>
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    enable-background="new 0 0 91 91"
                                    height="91px"
                                    id="Layer_1"
                                    version="1.1"
                                    viewBox="0 0 91 91"
                                    width="91px"
                                    xml:space="preserve"
                            >
                                        <g>
                                            <g>
                                                <path
                                                        d="M26.939,49.462c11.592,0,21.029-9.5,21.029-21.176S38.531,7.11,26.939,7.11    c-11.588,0-21.018,9.5-21.018,21.176S15.352,49.462,26.939,49.462z"
                                                        fill="#647F94"
                                                />
                                                <path
                                                        d="M44.877,46.202c-4.586,4.643-10.932,7.525-17.938,7.525c-6.934,0-13.219-2.828-17.793-7.393    c-5.633,2.715-8.414,6.75-8.414,12.334V78.19c2.818,1.563,9.678,7.268,26.553,7.268c17.029,0,24.127-5.578,26.24-7.088V58.665    C53.525,52.974,50.666,48.897,44.877,46.202z"
                                                        fill="#647F94"
                                                />
                                            </g>
                                            <path
                                                    d="M87.191,20.282H57.453c-1.846,0-3.34-1.494-3.34-3.34c0-1.844,1.494-3.34,3.34-3.34h29.738   c1.842,0,3.34,1.496,3.34,3.34C90.531,18.788,89.033,20.282,87.191,20.282z"
                                                    fill="#45596B"
                                            />
                                            <path
                                                    d="M87.191,39.185H57.453c-1.846,0-3.34-1.496-3.34-3.34c0-1.846,1.494-3.34,3.34-3.34h29.738   c1.842,0,3.34,1.494,3.34,3.34C90.531,37.688,89.033,39.185,87.191,39.185z"
                                                    fill="#45596B"
                                            />
                                            <path
                                                    d="M87.193,58.085H62.418c-1.846,0-3.34-1.494-3.34-3.34c0-1.844,1.494-3.34,3.34-3.34h24.775   c1.844,0,3.34,1.496,3.34,3.34C90.533,56.591,89.037,58.085,87.193,58.085z"
                                                    fill="#45596B"
                                            />
                                            <path
                                                    d="M87.193,76.987H62.418c-1.846,0-3.34-1.496-3.34-3.34c0-1.846,1.494-3.34,3.34-3.34h24.775   c1.844,0,3.34,1.494,3.34,3.34C90.533,75.491,89.037,76.987,87.193,76.987z"
                                                    fill="#45596B"
                                            />
                                        </g>
                                    </svg>
                        </div>
                        <span>탐험대원 관리</span>
                    </div>
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            height="512px"
                            id="Layer_1"
                            style="enable-background: new 0 0 512 512"
                            version="1.1"
                            viewBox="0 0 512 512"
                            width="512px"
                            xml:space="preserve"
                    >
                                <polygon
                                        points="160,115.4 180.7,96 352,256 180.7,416 160,396.7 310.5,256 "
                                />
                            </svg>
                </a>
                <!-- 창고관리 -->
                <a href="/admin/admin-recruit" class="sidebar__menu">
                    <div class="sidebar__menu__name">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                                <path
                                        d="M504 352H136.4c-4.4 0-8 3.6-8 8l-.1 48c0 4.4 3.6 8 8 8H504c4.4 0 8-3.6 8-8v-48c0-4.4-3.6-8-8-8zm0 96H136.1c-4.4 0-8 3.6-8 8l-.1 48c0 4.4 3.6 8 8 8h368c4.4 0 8-3.6 8-8v-48c0-4.4-3.6-8-8-8zm0-192H136.6c-4.4 0-8 3.6-8 8l-.1 48c0 4.4 3.6 8 8 8H504c4.4 0 8-3.6 8-8v-48c0-4.4-3.6-8-8-8zm106.5-139L338.4 3.7a48.15 48.15 0 0 0-36.9 0L29.5 117C11.7 124.5 0 141.9 0 161.3V504c0 4.4 3.6 8 8 8h80c4.4 0 8-3.6 8-8V256c0-17.6 14.6-32 32.6-32h382.8c18 0 32.6 14.4 32.6 32v248c0 4.4 3.6 8 8 8h80c4.4 0 8-3.6 8-8V161.3c0-19.4-11.7-36.8-29.5-44.3z"
                                />
                            </svg>
                        </div>
                        <span>탐험대 관리</span>
                    </div>
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            height="512px"
                            id="Layer_1"
                            style="enable-background: new 0 0 512 512"
                            version="1.1"
                            viewBox="0 0 512 512"
                            width="512px"
                            xml:space="preserve"
                    >
                                <polygon
                                        points="160,115.4 180.7,96 352,256 180.7,416 160,396.7 310.5,256 "
                                />
                            </svg>
                </a>
                <!-- 문의관리 -->
                <a href="/admin/admin-review" class="sidebar__menu">
                    <div class="sidebar__menu__name">
                        <div>
                            <?xml version="1.0" ?><svg
                                id="Layer_1"
                                style="enable-background: new 0 0 50 50"
                                version="1.1"
                                viewBox="0 0 50 50"
                                xml:space="preserve"
                                xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                        >
                                        <g id="Layer_1_1_">
                                            <rect height="2" width="22" x="8.793" y="14" />
                                            <rect height="2" width="22" x="8.793" y="20" />
                                            <rect height="2" width="17" x="8.793" y="26" />
                                            <rect height="2" width="12" x="8.793" y="32" />
                                            <rect height="2" width="12" x="8.793" y="38" />
                                            <path
                                                    d="M38.793,18.586v-10L31.207,1H0.793v48h38V31.414L49.207,21l-6.414-6.414L38.793,18.586z M37.793,22.414L41.379,26l-12,12   h-3.586v-3.586L37.793,22.414z M31.793,4.414L35.379,8h-3.586V4.414z M36.793,47h-34V3h27v7h7v10.586l-13,13V40h6.414l6.586-6.586   V47z M42.793,24.586L39.207,21l3.586-3.586L46.379,21L42.793,24.586z"
                                            />
                                        </g>
                                    </svg>
                        </div>
                        <span>보고서 관리</span>
                    </div>
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            height="512px"
                            id="Layer_1"
                            style="enable-background: new 0 0 512 512"
                            version="1.1"
                            viewBox="0 0 512 512"
                            width="512px"
                            xml:space="preserve"
                    >
                                <polygon
                                        points="160,115.4 180.7,96 352,256 180.7,416 160,396.7 310.5,256 "
                                />
                            </svg>
                </a>
                <!-- 결제내역 -->
                <a href="/admin/admin-reply" class="sidebar__menu">
                    <div class="sidebar__menu__name">
                        <div>
                            <svg
                                    enable-background="new 0 0 48 48"
                                    height="48px"
                                    id="Layer_1"
                                    version="1.1"
                                    viewBox="0 0 48 48"
                                    width="48px"
                                    xml:space="preserve"
                                    xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                            >
                                        <g id="Layer_3">
                                            <path
                                                    d="M0,1.499v36h12.031V48l14.906-10.501H48v-36H0z M44,33.499H26.906L16,41.125v-3.75v-3.876H4v-28h40V33.499z   "
                                                    fill="#241F20"
                                            />
                                        </g>
                                    </svg>
                        </div>
                        <span>댓글 관리</span>
                    </div>
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            height="512px"
                            id="Layer_1"
                            style="enable-background: new 0 0 512 512"
                            version="1.1"
                            viewBox="0 0 512 512"
                            width="512px"
                            xml:space="preserve"
                    >
                                <polygon
                                        points="160,115.4 180.7,96 352,256 180.7,416 160,396.7 310.5,256 "
                                />
                            </svg>
                </a>
                <!-- 공지사항 -->
                <a href="/admin/admin-reply" class="sidebar__menu">
                    <div class="sidebar__menu__name">
                        <div>
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    id="Layer_1_1_"
                                    style="enable-background: new 0 0 16 16"
                                    version="1.1"
                                    viewBox="0 0 16 16"
                                    xml:space="preserve"
                            >
                                        <path
                                                d="M13,5c0-2.761-2.239-5-5-5S3,2.239,3,5v5l-3,2v1h16v-1l-3-2V5z"
                                        />
                                <path d="M10,14H6c0,1.105,0.895,2,2,2S10,15.105,10,14z" />
                                    </svg>
                        </div>
                        <span>공지사항 / FAQ 관리</span>
                    </div>
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            height="512px"
                            id="Layer_1"
                            style="enable-background: new 0 0 512 512"
                            version="1.1"
                            viewBox="0 0 512 512"
                            width="512px"
                            xml:space="preserve"
                    >
                                <polygon
                                        points="160,115.4 180.7,96 352,256 180.7,416 160,396.7 310.5,256 "
                                />
                            </svg>
                </a>
            </div>
        </div>
    </section>
    <!-- content.css -->
    <section class="content">
        <div class="content__header">
            <span>공지사항 관리</span>
            <a href="/member/logout"> 로그아웃 </a>
        </div>
        <main class="content__main">
            <div class="table__container">
                <!-- status.css -->
                <section class="trip-status">
                    <ul class="status-list">

                        <!--<li class="status-list-item">
                            <div class="status-item-wrapper">
                                <img
                                    src="/images/notice.png"
                                    class="profile-img"
                                />
                                <div class="status-item-name">금일 신규등록</div>
                            </div>
                            <div class="status-item-count">
                                <a href="">0</a>
                            </div>
                        </li>-->

                        <li class="status-list-item">
                            <div class="status-item-wrapper">
                                <div class="problem-icon-wrapper">
                                    <div class="problem-icon">
                                        <div>
                                            <div>
                                                        <span>
                                                            <img
                                                                    src="/images/notice.png"
                                                                    class="profile-img"
                                                            />
                                                        </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="status-item-name">총 공지 수</div>
                            </div>
                            <div class="status-item-count">
                                <a th:text="${noticeCount}"></a>
                            </div>
                        </li>
                        <div class="clock">

                            <!--<h2>현재시간</h2>-->

                            <h1></h1>
                        </div>
                    </ul>
                </section>
                <div class="table__box">
                    <div class="table__search__form">
                        <div>
                            <button type="button" id="delete-button" class="button__type_2 button__color__red notice-delete-checkbox">
                                공지 삭제
                            </button>
                            <button id="insert-button" class="button__type_2 button__color__blue" type="button">공지 추가</button>
                        </div>
                        <!-- default.css -->
                    </div>
                    <table class="table">


                        <!-- --------------------------  공지사항 목록 -------------------------- -->


                    </table>
                    <!-- default.css > pagenation -->

                    <footer class="page-box">


                        <!-- -------------------------- 관리자 페이징 처리 -------------------------- -->


                        <th:block th:each="page : ${#numbers.sequence(criteria.startPage, criteria.endPage)}">
                            <a href="javascript:void(0)" th:if="${criteria.page != page}">
                                <button class="page-number page-button" th:text="${page}"></button>
                            </a>
                            <button class="page-number page-button page-active" th:unless="${criteria.page != page}" th:text="${page}"></button>
                        </th:block>


                    </footer>
                </div>
            </div>
        </main>
    </section>
    <!-- 모달창 들어가야할 곳 -->
    <!-- 추후 타임리프로 불러와야 함 -->
    <div id="confirm-modal" style="display: none">
        <div class="modal-content">
            <div class="modal-header">
                <h3>삭제 확인</h3>
                <button class="close-btn">&times;</button>
            </div>
            <div class="modal-body">
                <p>정말로 공지사항을 삭제하겠습니까?</p>
            </div>
            <div class="modal-footer">
                <button id="confirm-delete" type="button" class="btn confirm-btn">확인</button>
                <button id="cancel-delete" type="button" class="btn cancel-btn">취소</button>
            </div>
        </div>
    </div>
    <!-- 공지 상제보기 모달 -->
    <section class="modal-stage" style="display: none">
        <section class="modal">
            <div class="modal__header">
                <h3 class="modal__title">공지사항 상세보기</h3>
                <a class="modal-close">
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            data-name="Capa 1"
                            id="Capa_1"
                            viewBox="0 0 20 19.84"
                    >
                        <path
                                d="M10.17,10l3.89-3.89a.37.37,0,1,0-.53-.53L9.64,9.43,5.75,5.54a.37.37,0,1,0-.53.53L9.11,10,5.22,13.85a.37.37,0,0,0,0,.53.34.34,0,0,0,.26.11.36.36,0,0,0,.27-.11l3.89-3.89,3.89,3.89a.34.34,0,0,0,.26.11.35.35,0,0,0,.27-.11.37.37,0,0,0,0-.53Z"
                        />
                    </svg>
                </a>
            </div>
            <form class="storage_form" action="">
                <main class="modal__main detail-modal">


                    <!-- -------------------------- 모달 상세보기 -------------------------- -->


                </main>
            </form>
        </section>
    </section>
    <section class="modal-stage-insert" style="display: none">
        <section class="modal">
            <div class="modal__header">
                <h3 class="modal__title">공지사항 추가하기</h3>
                <a class="modal-close">
                    <svg xmlns="http://www.w3.org/2000/svg" data-name="Capa 1" id="Capa_1" viewBox="0 0 20 19.84">
                        <path
                                d="M10.17,10l3.89-3.89a.37.37,0,1,0-.53-.53L9.64,9.43,5.75,5.54a.37.37,0,1,0-.53.53L9.11,10,5.22,13.85a.37.37,0,0,0,0,.53.34.34,0,0,0,.26.11.36.36,0,0,0,.27-.11l3.89-3.89,3.89,3.89a.34.34,0,0,0,.26.11.35.35,0,0,0,.27-.11.37.37,0,0,0,0-.53Z"
                        />
                    </svg>
                </a>
            </div>
            <form class="storage_form" action="">
                <main class="modal__main write-modal">


                    <!-- ------------------------ 공지 추가 모달 ------------------------ -->


                </main>
            </form>
        </section>
    </section>
</section>
</body>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script
        type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e010e1c47083a81e5873ca2682380a56&libraries=services"
></script>
<script type="text/javascript" src="/js/board/boardDetail.js"></script>
<script src="/js/admin/app.js"></script>
<script src="/js/admin/admin-notice.js"></script>
<script src="/js/admin/events.js"></script>
</html>