<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/main/resources/static/css/main/common.css" />
    <link rel="stylesheet" href="/src/main/resources/static/css/board/boardDetail.css" />
    <link rel="icon" href="/src/main/resources/static/images/favicon.png" />
    <title>리뷰 상세페이지</title>
  </head>
  <body>
    <div id="header"></div>
    <div class="boardDetailPage_wrapper">
      <div class="boardDetailPage_contentWrapper">
        <!-- 원정대에 관한 상세정보 -->
        <div class="boardDetailPage_contentContainer">
          <!-- 컨셉 이미지와 작성자의 정보가 나오는 섹션 -->
          <section class="boardDetail_headSectionWrapper">
            <!-- 원정대 소개 사진들이 나오는 곳 -->
            <div class="presentationImage_wrapper">
              <div class="presentationImage_content">
                <div class="introduceImage_wrapper">
                  <!-- 이미지가 들어갈 곳 -->
                  <img
                    style="height: 375px"
                    src="https://res.cloudinary.com/frientrip/image/upload/ios_image_1306431_20230311161025477_a3e6d7c9da6c8a0b53f3bb36d1abb1314034681576f6c523d3da0613e9307e75"
                    alt=""
                  />
                </div>
              </div>
            </div>
            <!-- 원정대 이름과 작성자가 나오는 곳 -->
            <div class="presentationInfo_wrapper">
              <section class="presentationInfo_InfoSection infoSection_infoWrapper">
                <div class="infoSection_TitleWrapper">
                  <hgroup class="infoSection_TitleContainer">
                    <!-- 작성한 제목이 들어갈 곳 -->
                    <h1 class="infoSection_Title">[오싹/공포]흉가탐사 결과보고서</h1>
                  </hgroup>
                </div>
              </section>
              <section class="presentationInfo_InfoSection infoSection_MemberWrapper">
                <div class="infoSection_MemberProfileWrapper">
                  <div class="ProfileInfo_wrapper">
                    <!-- 작성자의 프로필 이미지 나오는 곳 -->
                    <div class="ProfileInfo_profileImage">
                      <a href="">
                        <div class="Image_wrapper">
                          <!-- 유저의 프로필 사진을 가져오는 곳 -->
                          <img
                            class="Image_style"
                            src="https://k.kakaocdn.net/dn/bsSATJ/btry9gwkdhb/Y5L6OyBllzjAkOOMFYupF0/img_110x110.jpg"
                          />
                        </div>
                      </a>
                    </div>
                    <!-- 작성자의 정보가 나오는 곳 -->
                    <div class="ProfileInfo_profileContent">
                      <div class="Profile_MemberNameWrapper">
                        <a href="">
                          <span class="Profile_Nickname">
                            <span>댕댕쓰</span>
                          </span>
                        </a>
                      </div>
                      <span class="Profile_MemberStat">
                        <!-- 작성자가 소유한 원정대 갯수 받는 곳 -->
                        보유 탐험대 2
                        <span>|</span>
                        <!-- 작성자가 작성한 리뷰의 갯수 받는 곳 -->
                        탐사 보고서 3
                      </span>
                    </div>
                  </div>
                </div>
              </section>
              <section class="boardDetail_sectionContainer reviewStar_section">
                <div class="reviewSummary_wrapper">
                  <div class="reviewPoint_section">
                    <span>평점</span>
                  </div>
                  <!-- 별점 -->
                  <div class="reviewStar_wrapper">
                    <img src="/src/main/resources/static/images/star.png" alt="★" />
                    <img src="/src/main/resources/static/images/star.png" alt="★" />
                    <img src="/src/main/resources/static/images/star.png" alt="★" />
                    <img src="/src/main/resources/static/images/star.png" alt="★" />
                    <img src="/src/main/resources/static/images/star.png" alt="★" />
                  </div>
                </div>
              </section>
              <section class="presentationInfo_InfoSection">
                <div class="buttonSection_buttonWrapper reviewButton_section">
                  <button class="buttonSection_button">수정</button>
                  <button class="buttonSection_button">삭제</button>
                </div>
              </section>
            </div>
          </section>
          <!-- 나타낼 기본 정보가 나오는 섹션 -->
          <section class="boardDetail_sectionContainer">
            <article>
              <header class="Article_header">
                <hgroup>
                  <h2 class="Article_title">결과 소개</h2>
                </hgroup>
              </header>
              <div class="Article_descriptionContainer">
                <div class="Article_description">
                  작성자가 리뷰 내용으로 작성한 내용이 들어갑니다.작성자가 리뷰 내용으로 작성한
                  내용이 들어갑니다.작성자가 리뷰 내용으로 작성한 내용이 들어갑니다.작성자가 리뷰
                  내용으로 작성한 내용이 들어갑니다.작성자가 리뷰 내용으로 작성한 내용이
                  들어갑니다.작성자가 리뷰 내용으로 작성한 내용이 들어갑니다.
                </div>
              </div>
            </article>
          </section>
        </div>
      </div>
    </div>
    <div id="footer"></div>
  </body>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script>
    $('#header').load('/src/main/resources/templates/main/header.html');
    $('#footer').load('/src/main/resources/templates/main/footer.html');
  </script>
</html>
