<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/static/css/main/common.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/board/boardDetail.css">
    <link rel="icon" href="/src/main/resources/static/images/favicon.png" />
    <title>리뷰 상세페이지</title>
</head>
<body>
    <div id="header"></div>
    <div class="boardDetailPage-wrapper">
        <div class="reviewHeader">
            <div class="reviewSection-time">2023년 03월 17일</div>
            <div class="reviewSection-wrapper">
                <span class="reviewSection-title">[공포] 실화! 용인에 있는 정신병원에서 귀신을 보다?!</span>
                <div class="infoSection-actionWrapper">
                    <span class="actionSection-title actionReviewSection">수정</span>
                    <span class="actionSection-title actionReviewSection">삭제</span>
                </div>
            </div>
            <div class="ProfileInfo-wrapper ProfileInfo-Review">
                <!-- 작성자의 프로필 이미지 나오는 곳 -->
                <div class="ProfileInfo-profileImage reviewSection-profile">
                    <a href="">
                        <div class="Image-wrapper">
                            <!-- 유저의 프로필 사진을 가져오는 곳 -->
                            <img class="Image-style" src="https://k.kakaocdn.net/dn/bsSATJ/btry9gwkdhb/Y5L6OyBllzjAkOOMFYupF0/img_110x110.jpg">
                        </div>
                    </a>
                </div>
                <!-- 작성자의 정보가 나오는 곳 -->
                <div class="ProfileInfo-profileContent">
                    <div class="Profile-MemberNameWrapper">
                        <a href="">
                            <span class="Profile-Nickname">
                                <span>댕댕쓰</span>
                            </span>
                        </a>
                    </div>
                    <span class="Profile-MemberStat">
                        <!-- 작성자가 소유한 원정대 갯수 받는 곳 -->
                        보유 탐험대 2
                        <span>|</span>
                        <!-- 작성자가 작성한 리뷰의 갯수 받는 곳 -->
                        탐사 보고서 3
                    </span>
                </div>
            </div>
        </div>
        <div class="boardDetailPage-contentWrapper">
            <!-- 원정대에 관한 상세정보 -->
            <div class="boardDetailPage-contentContainer">
                <!-- 컨셉 이미지와 작성자의 정보가 나오는 섹션 -->
                <section class="boardDetail-headSectionWrapper">
                    <!-- 원정대 소개 사진들이 나오는 곳 -->
                    <div class="presentationImage-wrapper">
                        <div class="presentationImage-content">
                            <div class="introduceImage-wrapper">
                                <!-- 이미지가 들어갈 곳 -->
                                <img style="height: 375px;" src="https://res.cloudinary.com/frientrip/image/upload/ios_image_1306431_20230311161025477_a3e6d7c9da6c8a0b53f3bb36d1abb1314034681576f6c523d3da0613e9307e75" alt="">
                            </div>
                        </div>
                    </div>
                </section>
                <!-- 나타낼 기본 정보가 나오는 섹션 -->
                <section class="boardDetail-sectionContainer">
                    <article>
                        <header class="Article-header">
                            <hgroup>
                                <h2 class="Article-title">결과 소개</h2>
                            </hgroup>
                        </header>
                        <div class="Article-descriptionContainer">
                            <div class="Article-description">
                                작성자가 리뷰 내용으로 작성한 내용이 들어갑니다.작성자가 리뷰 내용으로 작성한 내용이 들어갑니다.작성자가 리뷰 내용으로 작성한 내용이 들어갑니다.작성자가 리뷰 내용으로 작성한 내용이 들어갑니다.작성자가 리뷰 내용으로 작성한 내용이 들어갑니다.작성자가 리뷰 내용으로 작성한 내용이 들어갑니다.
                                작성자가 리뷰 내용으로 작성한 내용이 들어갑니다.작성자가 리뷰 내용으로 작성한 내용이 들어갑니다.작성자가 리뷰 내용으로 작성한 내용이 들어갑니다.작성자가 리뷰 내용으로 작성한 내용이 들어갑니다.작성자가 리뷰 내용으로 작성한 내용이 들어갑니다.작성자가 리뷰 내용으로 작성한 내용이 들어갑니다.
                            </div>
                        </div>
                    </article>
                </section>
            </div>
        </div>
    </div>
    <div id="footer"></div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    $("#header").load("/src/main/resources/templates/main/header.html")
    $("#footer").load("/src/main/resources/templates/main/footer.html")
</script>
</html>