<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/board/boardList.css">
    <link rel="stylesheet" href="/css/main/common.css">
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/main/footer.css">
    <link rel="icon" href="/images/favicon.png" />
    <title>탐험 보고서 리스트</title>
</head>
<body>
<div th:insert="~{/main/header :: header}"></div>
    <div class="boardPage-wrapper">
        <!-- 게시판 제목이 적혀있는 곳 -->
        <div class="boardPage-header">
            <div>
                <span class="boardPage-title">탐험 보고</span>
            </div>
        </div>
        <div class="boardList-wrapper">
            <!-- 이 안에서 리스트로 받는 곳 -->
            <div class="view-boardList-wrapper">
                <!-- 각 리스트 내용 -->
                <section class="BoardList-reviewWrapper">
                    <ul class="mypage-review-list-wrap">
                        <!--화면뿌리는 곳-->
                    </ul>
                </section>
                <!-- 페이징 처리 부분 -->

                <footer class="mypage-reply-paging-wrap">
                    <div class="prev-button-wrap">
                        <button class="arrow-button prev-button page-button changePage" th:href="@{${criteria.startPage - 1}}" th:if="${criteria.prev}">
                            <img
                                    src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath fill='none' d='M0 0h40v40H0z'/%3E %3Cpath stroke='%23DDD' stroke-width='1.5' d='M18 16l4 4-4 4'/%3E %3C/g%3E %3C/svg%3E"
                                    class="arrow-button-image"
                            />
                        </button>
                    </div>
                    <th:block th:each="page : ${#numbers.sequence(criteria.startPage, criteria.endPage)}">
                        <button th:if="${criteria.page != page}" th:href="@{${page}}" class="page-number page-button changePage" th:text="${page}"></button>
                        <button th:unless="${criteria.page != page}" th:text="${page}" class="page-number page-button page-active"></button>
                    </th:block>
                    <div class="next-button-wrap">
                        <button class="arrow-button next-button page-button changePage" th:href="@{${criteria.endPage + 1}}" th:if="${criteria.next}">
                            <img
                                    src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath fill='none' d='M0 0h40v40H0z'/%3E %3Cpath stroke='%23DDD' stroke-width='1.5' d='M18 16l4 4-4 4'/%3E %3C/g%3E %3C/svg%3E"
                                    class="arrow-button-image"
                            />
                        </button>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <!-- 타임리프로 session에 담긴 memberId가 있을때만 작성하도록 함-->
    <div class="FloatingButton-wrapper" th:inline="text" th:style="${memberId == null ? 'display:none;' : ''}">
        <div class="FloatingButton-layoutWrapper">
          <a href="/reviews/write">
            <button class="plusLink-icon">
                <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='20' viewBox='0 0 18 20'%3E %3Cpath fill='%234E5968' fill-rule='evenodd' d='M9 .765c.552 0 1 .447 1 1v7.392h7c.552 0 1 .448 1 1v.098c0 .552-.448 1-1 1h-7v7.392c0 .552-.448 1-1 1s-1-.448-1-1v-7.392H1c-.552 0-1-.448-1-1v-.098c0-.552.448-1 1-1h7V1.765c0-.553.448-1 1-1z'/%3E %3C/svg%3E" alt="+">
            </button>
          </a>
        </div>
    </div>
<div th:insert="~{/main/footer :: footer}"></div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script th:inline = "javascript">
    let reviews = [[${reviews}]];
    let memberId = [[${memberId}]];
    let criteria = [[${criteria}]];
</script>
<script src="/js/main/header.js"></script>
<script src="/js/board/reviewList.js"></script>
<script src="/js/board/boardButton.js"></script>
</html>