<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/board/boardModal.css">
    <link rel="stylesheet" href="/css/main/common.css">
    <link rel="stylesheet" href="/css/board/boardDetail.css">
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/main/footer.css">
    <link rel="icon" href="/images/favicon.png"/>
    <title>보고서 상세페이지</title>
</head>
<body>
<div th:insert="~{/main/header :: header}"></div>
<div class="modal-container" style="display: none;">
    <div class="modal">
        <div class="warn-modal">
            <div class="modal-content"></div>
        </div>
        <div class="modal-button-wrap">

            <button class="delete-button">삭제</button>

            <button class="cancel-button">취소</button>
        </div>
    </div>
</div>
<div class="boardDetailPage-wrapper">
    <div class="reviewHeader">
        <div class="date"></div>
        <!-- 위쪽 뿌리는 곳-->
        <div class="ProfileInfo-wrapper ProfileInfo-Review">
            <!--정보 푸리는곳-->
        </div>
        <div class="infoSection-actionWrapper" style="justify-content: flex-end;" >
            <!--수정삭제 뿌리는 곳-->
        </div>
    </div>
    <div class="boardDetailPage-contentWrapper">
        <!-- 원정대에 관한 상세정보 -->
        <div class="boardDetailPage-contentContainer">
            <!-- 컨셉 이미지와 작성자의 정보가 나오는 섹션 -->
            <section class="boardDetail-headSectionWrapper boardDetail-reviewSection">
                <!--review 메인 사진 뿌리는 곳-->
            </section>
            <!-- 나타낼 기본 정보가 나오는 섹션 -->
            <section class="boardDetail-sectionContainer reviewInfo">
            <!--리뷰 기본정보 뿌리는 곳-->
            </section>
            <section class="boardDetail-sectionContainer">
                <article>
                    <header class="Article-header">
                        <hgroup>
                            <h2 class="Article-title">사진 더보기</h2>
                        </hgroup>
                    </header>
                    <div class="plusImages-wrapper">
                        <!-- 모든 사진 뿌리는 곳 -->
                    </div>
                </article>
            </section>
        </div>
    </div>
</div>
<!-- 유사 모달창 -->
<div class="modal-Image modal-status" style="display: none;">
    <div>
        <div class="modalContent-wrapper" style="margin-bottom: 0px; max-width: 1024px;">
            <div class="modal-header header-status">
                <button class="close-modal close-status">
                        <span>
                            <svg fill="white" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="100%"
                                 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512; fill: #1c1c1c;"
                                 xml:space="preserve">
                                <path d="M443.6,387.1L312.4,255.4l131.5-130c5.4-5.4,5.4-14.2,0-19.6l-37.4-37.6c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4 L256,197.8L124.9,68.3c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4L68,105.9c-5.4,5.4-5.4,14.2,0,19.6l131.5,130L68.4,387.1 c-2.6,2.6-4.1,6.1-4.1,9.8c0,3.7,1.4,7.2,4.1,9.8l37.4,37.6c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1L256,313.1l130.7,131.1 c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1l37.4-37.6c2.6-2.6,4.1-6.1,4.1-9.8C447.7,393.2,446.2,389.7,443.6,387.1z"></path>
                            </svg>
                        </span>
                </button>
            </div>
            <figure class="figure-status">
                <img class="image-in-modal image-status" style="cursor: auto; max-height: 600px;" src="" alt="+">
            </figure>
            <div class="modal-footer footer-status">
                <div class="footer-count count-status"></div>
            </div>
        </div>
        <button type="button" class="arrow-direction left-button">
                <span>
                    <svg fill="white" version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="100%"
                         viewBox="0 0 512 512" xml:space="preserve">
                        <path style="fill: green" d="M213.7,256L213.7,256L213.7,256L380.9,81.9c4.2-4.3,4.1-11.4-0.2-15.8l-29.9-30.6c-4.3-4.4-11.3-4.5-15.5-0.2L131.1,247.9 c-2.2,2.2-3.2,5.2-3,8.1c-0.1,3,0.9,5.9,3,8.1l204.2,212.7c4.2,4.3,11.2,4.2,15.5-0.2l29.9-30.6c4.3-4.4,4.4-11.5,0.2-15.8 L213.7,256z"></path>
                    </svg>
                </span>
        </button>
        <button type="button" class="arrow-direction right-button">
                <span>
                    <svg fill="white" version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="100%"
                         viewBox="0 0 512 512" xml:space="preserve">
                        <path style="fill: green" d="M298.3,256L298.3,256L298.3,256L131.1,81.9c-4.2-4.3-4.1-11.4,0.2-15.8l29.9-30.6c4.3-4.4,11.3-4.5,15.5-0.2l204.2,212.7 c2.2,2.2,3.2,5.2,3,8.1c0.1,3-0.9,5.9-3,8.1L176.7,476.8c-4.2,4.3-11.2,4.2-15.5-0.2L131.3,446c-4.3-4.4-4.4-11.5-0.2-15.8 L298.3,256z"></path>
                    </svg>
                </span>
        </button>
    </div>
</div>
<div th:insert="~{/main/footer :: footer}"></div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script th:inline="javascript">
    let review = [[${review}]];
    let memberVO = [[${memberVO}]];
    let sessionId = [[${sessionId}]];
</script>
<script src="/js/board/reviewDetail.js"></script>
<script src="/js/main/header.js"></script>
</html>