<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.app.captain.domain.vo.MemberVO" alias="memberVO"/>
        <typeAlias type="com.app.captain.domain.vo.GroupVO" alias="groupVO"/>
        <typeAlias type="com.app.captain.domain.vo.GroupReplyVO" alias="groupReplyVO"/>
        <typeAlias type="com.app.captain.domain.vo.MemberGroupVO" alias="memberGroupVO"/>
        <typeAlias type="com.app.captain.domain.vo.NoticeVO" alias="noticeVO"/>
        <typeAlias type="com.app.captain.domain.vo.ReviewVO" alias="reviewVO"/>
        <typeAlias type="com.app.captain.domain.vo.ReviewFileVO" alias="reviewFileVO"/>
        <typeAlias type="com.app.captain.domain.dto.MypageDTO" alias="mypageDTO"/>
    </typeAliases>
</configuration>