<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>배너</title>
    <link rel="stylesheet" href="/css/main/common.css"/>
    <link rel="stylesheet" href="/css/main/main.css"/>
    <link rel="stylesheet" href="/css/main/header-banner.css"/>
    <link
            href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/variable/woff2/SUIT-Variable.css"
            rel="stylesheet"
    />
    <style>
        body {
            font-family: 'SUIT Variable', sans-serif;
        }
    </style>
</head>
<body>
    <div class="main-header-banner-wrap">
        <div class="main-header-banner">
            <img/>
            <img/>
            <img/>
            <img/>
            <img/>
        </div>
        <img
                data-role="none"
                class="prev-button"
                src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E %3Cpath fill='none' fill-rule='evenodd' stroke='%23FFF' stroke-width='2' d='M21 17l8 8.014L21.028 33'/%3E %3C/svg%3E"
                style="display: block"
        />
        <img
                data-role="none"
                class="next-button"
                src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E %3Cpath fill='none' fill-rule='evenodd' stroke='%23FFF' stroke-width='2' d='M21 17l8 8.014L21.028 33'/%3E %3C/svg%3E"
                style="display: block"
        />
        <button type="button" class="header-banner-page-button">
            <span class="header-banner-page">1</span> / 5<img
                src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='7' fill='none' viewBox='0 0 8 7'%3E %3Cpath fill='%23fff' d='M3 0H5V7H3z'/%3E %3Cpath fill='%23fff' d='M0.5 4.5H2.5V11.5H0.5z' transform='rotate(-90 .5 4.5)'/%3E %3C/svg%3E"
                alt="icon-plus"
                class="header-banner-page-button-image"
        />
        </button>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="/js/main/header-banner.js"></script>
</html>
