<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>메인</title>
    <link rel="stylesheet" href="/css/main/common.css"/>
    <link rel="stylesheet" href="/css/main/main.css"/>
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/main/footer.css">
    <link rel="stylesheet" href="/css/main/header-banner.css"/>
    <link rel="stylesheet" href="/css/main/middle-banner.css"/>
    <link rel="stylesheet" href="/css/main/bot-banner.css"/>
    <link
            rel="shortcut icon"
            href="/images/favicon.png"
            type="image/x-icon"
    />
    <link
            href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/variable/woff2/SUIT-Variable.css"
            rel="stylesheet"
    />
    <style>
        body {
            font-family: 'SUIT Variable', sans-serif;
        }
    </style>
</head>
<body>
<div th:insert="~{/main/header :: header}"></div>
<section class="main-section">
    <div class="main-container">
        <div class="main-whole-wrap">
            <!-- 배너 -->
            <div class="main-header-banner-wrap">
                <div class="main-header-banner">
                    <img/>
                    <img/>
                    <img/>
                    <img/>
                    <img/>
                </div>
                <img
                        data-role="none"
                        class="prev-button"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E %3Cpath fill='none' fill-rule='evenodd' stroke='%23FFF' stroke-width='2' d='M21 17l8 8.014L21.028 33'/%3E %3C/svg%3E"
                        style="display: block"
                />
                <img
                        data-role="none"
                        class="next-button"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E %3Cpath fill='none' fill-rule='evenodd' stroke='%23FFF' stroke-width='2' d='M21 17l8 8.014L21.028 33'/%3E %3C/svg%3E"
                        style="display: block"
                />
                <button type="button" class="header-banner-page-button">
                    <span class="header-banner-page">1</span> / 5<img
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='7' fill='none' viewBox='0 0 8 7'%3E %3Cpath fill='%23fff' d='M3 0H5V7H3z'/%3E %3Cpath fill='%23fff' d='M0.5 4.5H2.5V11.5H0.5z' transform='rotate(-90 .5 4.5)'/%3E %3C/svg%3E"
                        alt="icon-plus"
                        class="header-banner-page-button-image"
                />
                </button>
            </div>
            <div style="margin-top: 30px"></div>
            <div class="ButtonItem-list">
                <button type="button" class="CategoryItem category-Adventure">
                    <span>모험</span>
                </button>
                <button type="button" class="CategoryItem category-Horror">
                    <div>공포</div>
                </button>
                <button type="button" class="CategoryItem category-Tour">
                    <div>관광</div>
                </button>
                <button type="button" class="CategoryItem category-Leisure">
                    <div>레저</div>
                </button>
            </div>
            <div style="margin-top: 20px"></div>
            <!-- 탐험대 리스트 -->
            <div class="ad-list-wrap">
                <div class="ad-list">
                    <section class="ad-section">
                        <!-- 탐험대 리스트 title -->
                        <div class="ad-top">
                            <div class="ad-title">
                                <h2 class="ad-title-h2">탐험대 구하기✔</h2>
                            </div>
                            <div class="ad-whole-btn">
                                <a href="/groups/list" class="ad-whole-btn-a"> 전체보기 </a>
                            </div>
                        </div>
                        <!-- 탐험대 리스트 들(4개만 띄우기) -->
                        <div class="ad-body">
                            <div class="boardList-wrapper">
                                <div class="emptyMainGroup"></div>
                                <!-- 이 안에서 리스트로 받는 곳 -->
                                <div class="view-boardList-wrapper mainGroupWrapper">
                                    <!-- 각 리스트 내용 -->
                                </div>
                            </div>
                        </div>
                    </section>
                    <div style="margin-top: 30px"></div>
                    <div class="middle-whole-wrap">
                        <div class="middle-header-banner-wrap">
                            <div class="middle-header-banner">
                                <img />
                                <img />
                                <img />
                                <img />
                                <img />
                            </div>
                            <img
                                    data-role="none"
                                    class="before-button"
                                    src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E %3Cpath fill='none' fill-rule='evenodd' stroke='%23FFF' stroke-width='2' d='M21 17l8 8.014L21.028 33'/%3E %3C/svg%3E"
                                    style="display: block"
                            />
                            <img
                                    data-role="none"
                                    class="follow-button"
                                    src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E %3Cpath fill='none' fill-rule='evenodd' stroke='%23FFF' stroke-width='2' d='M21 17l8 8.014L21.028 33'/%3E %3C/svg%3E"
                                    style="display: block"
                            />
                        </div>
                    </div>
                    <div style="margin-top: 30px"></div>
                    <!-- 탐험대 Reivew 리스트 -->
                    <section class="ad-section">
                        <div class="ad-top">
                            <div class="ad-title">
                                <h2 class="ad-title-h2">탐험 Reiview🌸</h2>
                            </div>
                            <div class="ad-whole-btn">
                                <a href="/reviews/list" class="ad-whole-btn-a"> 전체보기 </a>
                            </div>
                        </div>
                        <div style="margin-bottom: 30px; border-top: 1px solid rgb(238, 238, 238);"></div>
                        <!-- 탐험대 Reivew 리스트(4개만 띄우기) -->
                        <div class="ad-body">
                            <div class="boardList-wrapper">
                                <div class="emptyMainReview"></div>
                                <!-- 이 안에서 리스트로 받는 곳 -->
                                <div class="view-boardList-wrapper">
                                    <!-- 각 리스트 내용 -->
                                    <section class="BoardList-reviewWrapper">
                                        <ul class="mypage-review-list-wrap">
                                        </ul>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="bot-banner-container">
    <div class="bot-banner-wrapper">
        <img src="/images/bot-banner.png" class="bot-banner" />
    </div>
</div>
<div th:insert="~{/main/footer :: footer}"></div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script th:inline="javascript">
    let mainGroups = [[${mainGroups}]]
    let mainReviews = [[${mainReviews}]]
</script>
<script src="/js/main/main.js"></script>
<script src="/js/main/header-banner.js"></script>
<script src="/js/main/middle-banner.js"></script>
<script src="/js/main/header.js"></script>
</html>
