<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>중간 배너</title>
    <link rel="stylesheet" href="../../static/css/main/common.css"/>
    <link rel="stylesheet" href="../../static/css/main/main.css" />
    <link rel="stylesheet" href="../../static/css/main/middle-banner.css" />
    <link
      href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/variable/woff2/SUIT-Variable.css"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: 'SUIT Variable', sans-serif;
      }
    </style>
  </head>
  <body>
    <div class="middle-whole-wrap">
      <div class="middle-header-banner-wrap">
        <div class="middle-header-banner">
          <img />
          <img />
          <img />
          <img />
          <img />
        </div>
        <img
          data-role="none"
          class="before-button"
          src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E %3Cpath fill='none' fill-rule='evenodd' stroke='%23FFF' stroke-width='2' d='M21 17l8 8.014L21.028 33'/%3E %3C/svg%3E"
          style="display: block"
        />
        <img
          data-role="none"
          class="follow-button"
          src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E %3Cpath fill='none' fill-rule='evenodd' stroke='%23FFF' stroke-width='2' d='M21 17l8 8.014L21.028 33'/%3E %3C/svg%3E"
          style="display: block"
        />
      </div>
    </div>
  </body>
  <!--  <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script> -->
  <script src="../../static/js/main/middle-banner.js"></script>
</html>
