<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>내가 개설한 탐험대</title>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/board/boardList.css" />
    <link rel="stylesheet" href="/css/mypage/mypageRecruitList.css" />
    <link rel="stylesheet" href="/css/main/common.css" />
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/main/footer.css">
    <link
      href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/variable/woff2/SUIT-Variable.css"
      rel="stylesheet"
    />
  </head>
  <style>
    body {
      font-family: 'SUIT Variable', sans-serif;
    }
  </style>
  <body>
  <div th:insert="~{/main/header :: header}"></div>
    <main id="mypageMyRecruitList">
      <header class="my-recruit-list-header">
        <div class="my-recruit-list-header-title">
          <div>내가 개설한 탐험대</div>
        </div>
      </header>
      <div class="no-myRecruit"></div>
      <div class="boardList-wrapper">
        <!-- 이 안에서 리스트로 받는 곳 -->
        <div class="view-boardList-wrapper">
          </div>
        </div>
      </div>
      <footer class="mypage-reply-paging-wrap">
        <div class="prev-button-wrap">
          <button class="arrow-button prev-button page-button changePage" th:href="@{${criteria.startPage - 1}}" th:if="${criteria.prev}">
            <img
                    src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath fill='none' d='M0 0h40v40H0z'/%3E %3Cpath stroke='%23DDD' stroke-width='1.5' d='M18 16l4 4-4 4'/%3E %3C/g%3E %3C/svg%3E"
                    class="arrow-button-image"
            />
          </button>
        </div>
        <th:block th:each="page : ${#numbers.sequence(criteria.startPage, criteria.endPage)}">
          <button th:if="${criteria.page != page}" th:href="@{${page}}" class="page-number page-button changePage" th:text="${page}"></button>
          <button th:unless="${criteria.page != page}" th:text="${page}" class="page-number page-button page-active"></button>
        </th:block>
        <div class="next-button-wrap">
          <button class="arrow-button next-button page-button changePage" th:href="@{${criteria.endPage + 1}}" th:if="${criteria.next}">
            <img
                    src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath fill='none' d='M0 0h40v40H0z'/%3E %3Cpath stroke='%23DDD' stroke-width='1.5' d='M18 16l4 4-4 4'/%3E %3C/g%3E %3C/svg%3E"
                    class="arrow-button-image"
            />
          </button>
        </div>
      </footer>
    </main>
  <div th:insert="~{/main/footer :: footer}"></div>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
  <script th:inline="javascript">
    let myRecruits = [[${myRecruits}]]
    let criteria = [[${criteria}]]
  </script>
  <script src="/js/board/remainDays.js"></script>
  <script src="/js/mypage/myRecruitList.js"></script>
  <script src="/js/board/boardButton.js"></script>
  <script src="/js/main/header.js"></script>
</html>
