<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>마이페이지</title>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/mypage/mypage.css" />
    <link rel="stylesheet" href="/css/main/common.css" />
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/main/footer.css">
    <link
      href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/variable/woff2/SUIT-Variable.css"
      rel="stylesheet"
    />
  </head>
  <style>
    body {
      font-family: 'SUIT Variable', sans-serif;
    }
  </style>
  <body>
  <div th:insert="~{/main/header :: header}"></div>
    <main id="mypage">
      <!-- 마이페이지 맨 위 유저 프로필 -->
      <div class="modal-container">
        <div class="modal">
          <div class="warn-modal">
            <div class="modal-content"></div>
          </div>
          <div class="modal-button-wrap">
            <button class="logout-button">로그아웃</button>
            <button class="cancel-button">취소</button>
          </div>
        </div>
      </div>
      <div class="head-user-info-wrap">
      </div>
      <!-- 유저가 작성한 후기 및 댓글 목록 -->
      <div class="user-content-wrap">
        <a href="/mypage/myReview"
          ><div class="user-review">보고서</div>
          <div th:text="${myreviewCount}" class="user-review-count"></div></a
        ><a href="/mypage/myReply"
          ><div class="user-reply">댓글</div>
          <div th:text="${replyCount}" class="user-reply-count"></div></a
        >
      </div>
      <hr class="mypage-head-hr" />
      <!-- 유저 프로필 -->
      <div class="mypage-user-info">
        <header class="mypage-user-info-header">
          <div>내 정보</div>
          <button class="update-user-button">수정</button>
        </header>
        <div class="mypage-user-container">
          <div class="mypage-user-wrapper">
            <div class="mypage-user">닉네임</div>
            <input
              disabled=""
              class="mypage-user-value"
              type="text"
              name="memberNickname"
              th:value="${members.memberNickname}"
            />
          </div>
        </div>
        <div class="mypage-user-container">
          <div class="mypage-user-wrapper">
            <div class="mypage-user">휴대폰 번호</div>
            <input
              disabled=""
              class="mypage-user-value"
              type="text"
              name="memberPhone"
              th:value="${members.memberPhone}"
            />
          </div>
        </div>
        <div class="mypage-user-container">
          <div class="mypage-user-wrapper">
            <div class="mypage-user">이메일</div>
            <input
              disabled=""
              class="mypage-user-value"
              type="text"
              name="memberEmail"
              th:value="${members.memberEmail}"
            />
          </div>
        </div>
        <div class="mypage-user-container">
          <div class="mypage-user-wrapper">
            <div class="mypage-user">비밀번호</div>
            <input
              disabled=""
              type="password"
              class="mypage-user-value"
              name="memberPassword"
              value="0000000"
            />
          </div>
        </div>
        <div class="mypage-user-container">
          <div class="mypage-user-wrapper">
            <div class="mypage-user">생년월일</div>
            <input
              disabled=""
              type="text"
              class="mypage-user-value"
              name="memberBirth"
              th:value="${members.memberBirth}"
            />
          </div>
        </div>
        <div class="mypage-user-container">
          <div class="mypage-user-wrapper">
            <div class="mypage-user">성별</div>
            <input
              disabled=""
              type="text"
              class="mypage-user-value"
              name="memberGender"
              th:value="${members.memberGender == '남'? '남자' : '여자'}"
            />
          </div>
        </div>
      </div>
      <hr size="32" type="Line" class="mypage-hr" />
      <div class="mypage-user-group">
        <header>내 탐험대</header>
        <a href="/mypage/myRecruit">
          <div class="mypage-user-container">
            <div class="mypage-user-wrapper">
              <div class="mypage-user-make-group">내가 개설한 탐험대</div>
            </div>
          </div>
        </a>
        <a href="/mypage/partInRecruit">
          <div class="mypage-user-container">
            <div class="mypage-user-wrapper">
              <div class="mypage-user-participate-group">내가 참여한 탐험대</div>
            </div>
          </div>
        </a>
      </div>
      <hr size="32" type="Line" class="mypage-hr" />
      <div class="mypage-user-customer-service">
        <header>고객센터</header>
        <a href="/notice/list">
          <div class="mypage-user-container">
            <div class="mypage-user-wrapper">
              <div class="mypage-user-notice">공지사항</div>
            </div>
          </div>
        </a>
        <a href="/faq">
          <div class="mypage-user-container">
            <div class="mypage-user-wrapper">
              <div class="mypage-user-FAQ">FAQ</div>
            </div>
          </div>
        </a>
      </div>
      <hr size="32" type="Line" class="mypage-hr" />
      <div class="mypage-user-group">
        <header>설정</header>
        <div class="setting-list">
          <a href="/mypage/remove">
            <div class="mypage-user-container">
              <div class="mypage-user-wrapper">
                <div class="user-leave">회원탈퇴</div>
              </div>
            </div>
          </a>
          <div class="mypage-user-container">
            <div class="mypage-user-wrapper logout-wrap">
              <div class="logout">로그아웃</div>
            </div>
          </div>
        </div>
      </div>
    </main>
  <div th:insert="~{/main/footer :: footer}"></div>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
  <script th:inline="javascript">
    let members = [[${members}]]
    console.log(members)
  </script>
  <script src="/js/mypage/mypageSetting.js"></script>
  <script src="/js/main/header.js"></script>
</html>
