<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>마이페이지 보고서 모음</title>
    <link rel="shortcut icon" href="../../static/images/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="../../static/css/mypage/mypageSetting.css" />
    <link rel="stylesheet" href="../../static/css/main/common.css" />
    <link
      href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/variable/woff2/SUIT-Variable.css"
      rel="stylesheet"
    />
  </head>
  <style>
    body {
      font-family: 'SUIT Variable', sans-serif;
    }
  </style>
  <body>
    <div id="header"></div>
    <main id="mypageSetting">
      <div class="modal-container">
        <div class="modal">
          <div class="warn-modal">
            <div class="modal-content"></div>
          </div>
          <div class="modal-button-wrap">
            <button class="logout-button">로그아웃</button>
            <button class="cancel-button">취소</button>
          </div>
        </div>
      </div>
      <section class="setting-container">
        <div class="setting-wrap">
          <header class="setting-header">
            <div class="setting-title-wrap">
              <div class="setting-title">설정</div>
            </div>
          </header>
        </div>
        <div class="setting-list">
          <a href="javascript:void(0)">
            <div class="user-leave-wrap">
              <div class="user-leave">회원탈퇴</div>
            </div>
          </a>
          <div class="logout-wrap">
            <div class="logout">로그아웃</div>
          </div>
        </div>
      </section>
    </main>
    <div id="footer"></div>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
  <script src="../../static/js/mypage/mypageSetting.js"></script>
  <script>
    $('#header').load('../../templates/main/header.html');
    $('#footer').load('../../templates/main/footer.html');
  </script>
</html>
