<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" href="../../static/css/main/common.css">
    <link rel="stylesheet" href="../../static/css/notice/notice.css">
</head>
<body>
    <div class="all-wrap">
        <div class="all-wrap-container">
            <div id="header"></div>
            <div class="notice-info-box">
                <h1 class="notice-info-title">공지사항</h1>
                <div class="notice-cate-box">
                    <span class="notice-cate notice-cate-active">전체</span>
                    <span class="notice-cate">공지</span>
                    <span class="notice-cate">이벤트</span>
                    <span class="notice-cate">발표</span>
                </div>
                <ul class="notice-all">
                    <li>
                        <div class="notice-content-box">
                            <div class="notice-tag">공지</div>
                            <div class="notice-title">삼일절(3/1) 고객센터 운영시간 안내</div>
                            <div class="notice-date">2023-02-23 13:21</div>
                        </div>
                        <div class="notice-content">
                            <p>안녕하세요. 크루님 :)</p><p>프립 고객센터입니다.</p>
                            <p><br></p>
                            <p>3월 1일 삼일절의 고객센터 운영 시간이 일부 단축되어 아래와 같이 안내해드립니다.</p>
                            <p><br></p>
                            <p><strong>[프립 고객센터 단축 운영 안내]</strong></p>
                            <p>- 일자 : 3월 1일 (수) 단축 운영</p>
                            <p>- 카카오톡 채널 운영 시간 : 오전 10:00 ~ 오후 1:00</p>
                            <p><br></p>
                            <p>주말, 공휴일에는 취소, 일정 변경 등 일부 문의에 대한 처리가 일부 제한될 수 있는 점 양해 부탁드리며,</p>
                            <p>문의 사항은 카카오톡 채널 @프립 으로 남겨주시면 순차적으로 처리해드릴 예정입니다.</p>
                            <p><br></p>
                            <p>감사합니다.</p>
                            <p>프립 고객센터 드림</p>
                        </div>
                    </li>
                    <li>
                        <div class="notice-content-box">
                            <div class="notice-tag">이벤트</div>
                            <div class="notice-title">2018 프립 천하제일 맞춤법 대회</div>
                            <div class="notice-date">2023-02-23 13:21</div>
                        </div>
                        <div class="notice-content">
                            <p style="text-align: center;">
                                <strong><span style="font-size: 18px;">2018 제 1회 프립 배</span></strong>
                            </p>
                            <p style="text-align: center;"><strong><span style="font-size: 18px;">천하제일 맞춤법 과거시험</span></strong></p>
                            <p style="text-align: center;"><strong>. &nbsp; &nbsp; . &nbsp; &nbsp; .</strong></p>
                            <p style="text-align: center;"><br></p>
                            <p>
                                <img src="https://res.cloudinary.com/frientrip/image/upload/v1538053509/%EC%9D%B4%EB%B2%A4%ED%8A%B8%ED%8E%98%EC%9D%B4%EC%A7%80_1000x1942_yoq0hw.jpg" class="fr-fic fr-dib">
                            </p>
                            <hr>
                            <p style="text-align: center;"><strong>- 이벤트 안내 -</strong></p>
                            <p style="text-align: center;"><br></p>
                            <p><strong>▶응모 기간</strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 9월 27일(목) ~ 10월 9일(화)</p>
                            <p><strong>▶장원급제 발표&nbsp;</strong>&nbsp; &nbsp;10월 12일(금)&nbsp;</p>
                            <p><strong>▶상품 안내 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</strong> 정답을 모두 맞힌 대원님들께<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;10,000원 할인 쿠폰 지급<strong>&nbsp;</strong>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p><p><strong>▶참고 사항 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong>1회만 응모 가능하니 신중히 정답을 택할 것! <strong>&nbsp;&nbsp;</strong></p>
                            <p><strong><span style="color: rgb(0, 0, 0);">▶시험 보러 가기&nbsp;</span>&nbsp; &nbsp;</strong><a href="https://goo.gl/forms/UyJCObVruq6SifZT2">https://goo.gl/forms/UyJCObVruq6SifZT2</a>&nbsp;</p>
                        </div>
                    </li>
                    <li>
                        <div class="notice-content-box">
                            <div class="presentation-tag">발표</div>
                            <div class="notice-title">2019 만우절 이벤트 당첨자 발표</div>
                            <div class="notice-date">2023-02-23 13:21</div>
                        </div>
                        <div class="notice-content">
                            <p>안녕하세요, 프립입니다. :)</p>
                            <p>4월 1일 진행된 만우절 이벤트 당첨자를 발표합니다!</p>
                            <p>
                                <img src="https://res.cloudinary.com/frientrip/image/upload/v1554283623/%EB%8B%B9%EC%B2%A8%EC%9E%90_%EA%B3%B5%EC%A7%80_igu5ob.jpg">
                            </p>
                            <p>당첨을 축하드립니다♥</p>
                            <p>※ 당첨자분들께는 개인 연락처를 통해 별도 문자를 발송해 드렸습니다.</p>
                            <p><br></p>
                            <p>만우절 이벤트에 참여해주신 많은 대원님들께 감사 인사 드립니다.</p>
                            <p>앞으로도 프립은 더 다양하고 즐거운 경험들로 대원님들의 일상을 채워드리도록 노력하겠습니다.</p><p><br></p><p>감사합니다.</p>
                        </div>
                    </li>
                </ul>
                <ul class="notice notice-display-none">
                    <li>
                        <div class="notice-content-box">
                            <div class="notice-tag">공지</div>
                            <div class="notice-title">삼일절(3/1) 고객센터 운영시간 안내</div>
                            <div class="notice-date">2023-02-23 13:21</div>
                        </div>
                        <div class="notice-content">
                            <p>안녕하세요. 크루님 :)</p><p>프립 고객센터입니다.</p>
                            <p><br></p>
                            <p>3월 1일 삼일절의 고객센터 운영 시간이 일부 단축되어 아래와 같이 안내해드립니다.</p>
                            <p><br></p>
                            <p><strong>[프립 고객센터 단축 운영 안내]</strong></p>
                            <p>- 일자 : 3월 1일 (수) 단축 운영</p>
                            <p>- 카카오톡 채널 운영 시간 : 오전 10:00 ~ 오후 1:00</p>
                            <p><br></p>
                            <p>주말, 공휴일에는 취소, 일정 변경 등 일부 문의에 대한 처리가 일부 제한될 수 있는 점 양해 부탁드리며,</p>
                            <p>문의 사항은 카카오톡 채널 @프립 으로 남겨주시면 순차적으로 처리해드릴 예정입니다.</p>
                            <p><br></p>
                            <p>감사합니다.</p>
                            <p>프립 고객센터 드림</p>
                        </div>
                    </li>
                </ul>
                <ul class="event notice-display-none">
                    <li>
                        <div class="notice-content-box">
                            <div class="notice-tag">이벤트</div>
                            <div class="notice-title">2018 프립 천하제일 맞춤법 대회</div>
                            <div class="notice-date">2023-02-23 13:21</div>
                        </div>
                        <div class="notice-content">
                            <p style="text-align: center;">
                                <strong><span style="font-size: 18px;">2018 제 1회 프립 배</span></strong>
                            </p>
                            <p style="text-align: center;"><strong><span style="font-size: 18px;">천하제일 맞춤법 과거시험</span></strong></p>
                            <p style="text-align: center;"><strong>. &nbsp; &nbsp; . &nbsp; &nbsp; .</strong></p>
                            <p style="text-align: center;"><br></p>
                            <p>
                                <img src="https://res.cloudinary.com/frientrip/image/upload/v1538053509/%EC%9D%B4%EB%B2%A4%ED%8A%B8%ED%8E%98%EC%9D%B4%EC%A7%80_1000x1942_yoq0hw.jpg" class="fr-fic fr-dib">
                            </p>
                            <hr>
                            <p style="text-align: center;"><strong>- 이벤트 안내 -</strong></p>
                            <p style="text-align: center;"><br></p>
                            <p><strong>▶응모 기간</strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 9월 27일(목) ~ 10월 9일(화)</p>
                            <p><strong>▶장원급제 발표&nbsp;</strong>&nbsp; &nbsp;10월 12일(금)&nbsp;</p>
                            <p><strong>▶상품 안내 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</strong> 정답을 모두 맞힌 대원님들께<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;10,000원 할인 쿠폰 지급<strong>&nbsp;</strong>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p><p><strong>▶참고 사항 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong>1회만 응모 가능하니 신중히 정답을 택할 것! <strong>&nbsp;&nbsp;</strong></p>
                            <p><strong><span style="color: rgb(0, 0, 0);">▶시험 보러 가기&nbsp;</span>&nbsp; &nbsp;</strong><a href="https://goo.gl/forms/UyJCObVruq6SifZT2">https://goo.gl/forms/UyJCObVruq6SifZT2</a>&nbsp;</p>
                        </div>
                    </li>
                </ul>
                <ul class="presentation notice-display-none">
                    <li>
                        <div class="notice-content-box">
                            <div class="presentation-tag">발표</div>
                            <div class="notice-title">2019 만우절 이벤트 당첨자 발표</div>
                            <div class="notice-date">2023-02-23 13:21</div>
                        </div>
                        <div class="notice-content">
                            <p>안녕하세요, 프립입니다. :)</p>
                            <p>4월 1일 진행된 만우절 이벤트 당첨자를 발표합니다!</p>
                            <p>
                                <img src="https://res.cloudinary.com/frientrip/image/upload/v1554283623/%EB%8B%B9%EC%B2%A8%EC%9E%90_%EA%B3%B5%EC%A7%80_igu5ob.jpg">
                            </p>
                            <p>당첨을 축하드립니다♥</p>
                            <p>※ 당첨자분들께는 개인 연락처를 통해 별도 문자를 발송해 드렸습니다.</p>
                            <p><br></p>
                            <p>만우절 이벤트에 참여해주신 많은 대원님들께 감사 인사 드립니다.</p>
                            <p>앞으로도 프립은 더 다양하고 즐거운 경험들로 대원님들의 일상을 채워드리도록 노력하겠습니다.</p><p><br></p><p>감사합니다.</p>
                        </div>
                    </li>
                </ul>
                <footer class="page-box">
                    <div class="page-prev-arrow-box">
                        <button class="page-double-prev page-button">
                            <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Crect width='40' height='40' fill='%23FFF' fill-opacity='0' fill-rule='nonzero' rx='20'/%3E %3Cg stroke='%23000' stroke-width='1.5'%3E %3Cpath d='M16 16l4 4-4 4M21 16l4 4-4 4'/%3E %3C/g%3E %3C/g%3E %3C/svg%3E">
                        </button>
                        <button class="page-prev page-button">
                            <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath d='M18 0H0v18h18z'/%3E %3Cpath stroke='%23000' stroke-width='1.5' d='M7 5l4 4-4 4'/%3E %3C/g%3E %3C/svg%3E">
                        </button>
                    </div>
                    <button class="page-number page-button page-active">1</button>
                    <button class="page-number page-button">2</button>
                    <button class="page-number page-button">3</button>
                    <div class="page-next-arrow-box">
                        <button class="page-next page-button">
                            <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath d='M18 0H0v18h18z'/%3E %3Cpath stroke='%23000' stroke-width='1.5' d='M7 5l4 4-4 4'/%3E %3C/g%3E %3C/svg%3E">
                        </button>
                        <button class="page-double-next page-button">
                            <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Crect width='40' height='40' fill='%23FFF' fill-opacity='0' fill-rule='nonzero' rx='20'/%3E %3Cg stroke='%23000' stroke-width='1.5'%3E %3Cpath d='M16 16l4 4-4 4M21 16l4 4-4 4'/%3E %3C/g%3E %3C/g%3E %3C/svg%3E">
                        </button>
                    </div>
                </footer>
            </div>
        </div>
    </div>    
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="../../static/js/notice/notice.js"></script>
</html>