<!doctype html>
<html lang="ko">
<head>
    <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body>
<script type="text/javascript">
    var naver_id_login = new naver_id_login("t03Fi_ktyRapQcvRBW3t", "http://localhost:10000/member/naver");
    // 접근 토큰 값 출력
    // 네이버 사용자 프로필 조회
    naver_id_login.get_naver_userprofile("naverSignInCallback()");
    // 네이버 사용자 프로필 조회 이후 프로필 정보를 처리할 callback function
    function naverSignInCallback() {
        naver_id_login.getProfileData('name');
        let naverEmail = naver_id_login.getProfileData('email');
        $.ajax({
            type: "POST",
            url: "/member/naver",
            data: { memberEmail: naverEmail },
            success: function(result) {
                if(result == 0){
                    window.location.href = "/member/no-info";
                }else if(result == 1){
                    window.location.href = "/member/already-info";
                }else{
                    window.location.href = "/main";
                }
            }

        });
    }
</script>
</body>
</html>