<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>비밀번호 찾기</title>
    <link rel="stylesheet" href="/src/main/resources/static/css/main/common.css" />
    <link rel="stylesheet" href="/src/main/resources/static/css/member/findPassword.css" />
    <link
      rel="shortcut icon"
      href="/src/main/resources/static/images/favicon.png"
      type="image/x-icon"
    />
    <link
      href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/variable/woff2/SUIT-Variable.css"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: 'SUIT Variable', sans-serif;
      }
    </style>
  </head>
  <body>
    <div id="header"></div>
    <section class="find-pw-container">
      <div class="pw-change-wrap">
        <br />
        <div class="pw-change-title">
          <h3>비밀번호 찾기</h3>
        </div>
        <!-- 입력받는곳 -->
        <form class="pw-change-form">
          <div>
            <input type="text" name="email" placeholder="이메일" class="change-password" />
            <p class="change-password-p">가입하신 이메일 주소를 입력해 주세요.</p>
          </div>
          <button type="button" class="email-btn" disabled>이메일 발송</button>
        </form>
      </div>
      <div class="send-email-wrap">
        <div class="send-email-complete"><h3>발송 완료</h3></div>
        <div class="send-email-content-wrap">
          <div>
            <div class="content-title">
              <p>입력하신 주소로</p>
              <p>비밀번호 재설정 안내 메일을 발송했습니다.</p>
            </div>
            <div class="content-main">
              <p>만약 받지 못했다면 스팸함 / 메일주소</p>
              <p>확인 부탁드립니다. 그래도 해결되지 않는다면</p>
              <p>jiwook6273@naver.com 으로 문의바랍니다.</p>
            </div>
          </div>
          <a class="login-button" href="/login">로그인하러 가기</a>
        </div>
      </div>
    </section>
    <div id="footer"></div>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
  <script src="/src/main/resources/static/js/member/findPassword.js"></script>
  <script>
    $('#header').load('/src/main/resources/templates/main/header.html');
    $('#footer').load('/src/main/resources/templates/main/footer.html');
  </script>
</html>
