#mypage {
  display: flex;
  flex-flow: column nowrap;
  margin: 0px auto;
  max-width: 808px;
  width: 100%;
  padding: 0px 20px;
  min-height: 1px;
}

.head-user-info-wrap {
  padding: 24px 20px 36px;
}

.head-user-info {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.user-profile-image {
  width: 64px;
  height: 64px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 32px;
  margin-right: 16px;
}

.head-userinfo-textwrapper {
  overflow: hidden;
}

.head-userinfo-nickname {
  margin-bottom: 4px;
  color: rgb(51, 51, 51);
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  letter-spacing: -0.54px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.head-userinfo-email {
  color: rgb(170, 170, 170);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.36px;
}

.user-content-wrap {
  display: flex;
  gap: 60px;
  padding: 0px 20px 20px;
}

.user-content-wrap > * {
  max-width: 116px;
}

.user-review,
.user-reply {
  position: relative;
  color: rgb(119, 119, 119);
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.42px;
}

.user-review-count,
.user-reply-count {
  color: rgb(51, 51, 51);
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
  letter-spacing: -0.6px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mypage-head-hr {
  width: 100%;
  border-top: 1px solid rgb(238, 238, 238);
  border-bottom: none;
  margin: 0px 0px 16px;
}

.mypage-user-group > header,
.mypage-user-customer-service > header {
  padding: 8px 20px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  letter-spacing: -0.42px;
  color: rgb(204, 204, 204);
}

.mypage-user-info-header {
  padding: 8px 20px 20px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  letter-spacing: -0.42px;
  color: rgb(204, 204, 204);
  display: flex;
  justify-content: space-between;
}

.mypage-user-info-header > button {
  color: rgb(0, 117, 239);
  font-weight: 600;
  background-color: transparent;
  border-style: none;
  font-size: 1em;
  margin: 0;
  cursor: pointer;
}

.mypage-user-container {
  width: auto;
  height: 64px;
  margin: 0px;
  padding: 0px 20px;
  border-bottom: none;
  background-color: rgb(255, 255, 255);
}

.mypage-user-group  .mypage-user-container:hover {
  background-color: rgb(244, 244, 244);
  cursor: pointer;
}

.mypage-user-customer-service  .mypage-user-container:hover {
  background-color: rgb(244, 244, 244);
  cursor: pointer;
}

.mypage-user-wrapper {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
  padding: 16px 0px;
}

.mypage-user,
.mypage-user-group,
.mypage-user-customer-service {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.03em;
  color: rgb(51, 51, 51);
  font-weight: 600;
}

.mypage-hr {
  height: 1px;
  background-color: rgb(255, 255, 255);
  margin: 16px 20px;
  border-top: 1px solid rgb(238, 238, 238);
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.mypage-user-value {
  width: 80%;
  border: 1px solid rgb(238, 238, 238);
  box-sizing: border-box;
  border-radius: 3px;
  padding: 14px 14px 12px;
  background: rgb(250, 250, 250);
  color: rgb(17, 17, 17);
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.03em;
  text-align: left;
}

.logout,
.user-leave {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
  padding: 16px 0px;
  font-size: 16px;
  font-weight: 600;
}

.modal-container {
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.modal {
  margin: 0px 20px;
  width: 100%;
  max-width: 400px;
  border-radius: 4px;
  background-color: white;
  text-align: center;
  overflow: hidden;
}

.warn-modal {
  padding: 20px;
  font-size: 13px;
  word-break: keep-all;
  line-height: 22px;
}

.modal-content {
  font-size: 13px;
  text-align: center;
  line-height: 22px;
}

.modal-button-wrap {
  display: flex;
  border-top: 1px solid rgb(230, 230, 230);
}

.logout-button {
  width: 100%;
  height: auto;
  line-height: normal;
  padding: 16px 32px;
  background-color: white;
  text-align: center;
  cursor: pointer;
  border-radius: 0px;
  color: rgb(255, 102, 102);
  font-size: 14px;
  font-weight: bold;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
}

.cancel-button {
  width: 100%;
  height: auto;
  line-height: normal;
  padding: 16px 32px;
  background-color: white;
  text-align: center;
  cursor: pointer;
  border-radius: 0px;
  color: black;
  font-size: 14px;
  font-weight: bold;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  border-left: 1px solid rgb(230, 230, 230);
}

.logout-button:hover,
.cancel-button:hover {
  background-color: rgb(245, 250, 255);
}
