/* mypageReply.html */

#mypage-reply {
  display: flex;
  flex-flow: column nowrap;
  margin: 0px auto;
  max-width: 808px;
  width: 100%;
  padding: 0px 20px;
  min-height: 1px;
}

.mypage-reply-container {
  opacity: 1;
  display: block;
  width: auto;
  height: auto;
  transition: opacity 200ms ease-in-out 0s;
  min-width: 0px;
  min-height: 1px;
}

.mypage-reply-header {
  border-bottom: 1px solid rgb(238, 238, 238);
  padding: 30px 0px;
}

.mypage-reply-header-title {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 0px;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
}

.reply-count {
  font-weight: normal;
}

.my-reply-list {
  padding: 0px;
}

.mypage-reply-empty {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 40px;
}

.mypage-reply-empty-text {
  font-size: 11px;
  font-weight: 300;
  line-height: 18px;
  text-align: center;
  color: rgb(155, 155, 155);
  margin-top: 10px;
}

.mypage-reply-list {
  padding: 0;
  border-bottom: 1px solid rgb(238, 238, 238);
}

li {
  list-style: none;
}

.my-reply-container {
  padding: 30px 0px;
  border-bottom: 1px solid rgb(238, 238, 238);
  list-style: none;
  text-align: start;
}

.my-reply-wrap {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.my-reply-user-info {
  flex: 0 0 auto;
  margin-right: 14px;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  overflow: hidden;
}

.user-image-wrap {
  min-height: 1px;
  opacity: 1;
  display: block;
  width: auto;
  height: 100%;
  transition: opacity 200ms ease-in-out 0s;
  min-width: 0px;
  min-height: 1px;
  position: relative;
}

.user-image {
  object-fit: cover;
  width: 48px;
}

.user-nickname-register {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  margin-right: auto;
}

.user-nickname {
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 10px;
}

.user-register-date-wrap {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.user-register-date {
  line-height: 10px;
  color: rgb(155, 155, 155);
  font-size: 10px;
}

.reply-content {
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 22px;
  font-weight: bold;
}

.reply-board-wrap {
  color: rgb(155, 155, 155);
  display: inline-block;
  cursor: pointer;
}

.reply-board {
  margin-bottom: 10px;
  line-height: 10px;
  font-size: 10px;
  font-weight: bold;
}

.mypage-reply-paging-wrap {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-flex: 0;
  width: 100%;
  padding: 30px 0px;
  background-color: white;
}

.prev-button-wrap {
  display: flex;
  margin-right: 10px;
}

.double-arrow-button {
  width: 40px;
  height: 40px;
  line-height: normal;
  padding: 0px;
  background-color: white;
  text-align: center;
  cursor: not-allowed;
  border-radius: 50%;
  font-size: 18px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  outline: none;
}

.prev-button-wrap .double-arrow-button-image {
  transform: rotate(180deg);
  filter: invert(0);
}

.arrow-button {
  width: 40px;
  height: 40px;
  line-height: normal;
  padding: 0px;
  background-color: white;
  text-align: center;
  cursor: not-allowed;
  border-radius: 50%;
  font-size: 18px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  outline: none;
}

.prev-button-wrap .arrow-button-image {
  transform: rotate(180deg);
  filter: invert(0);
}

.page-number {
  width: 40px;
  height: 40px;
  line-height: normal;
  padding: 0px;
  background-color: white;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  /* color: rgb(51, 151, 255); */
  font-size: 18px;
  font-weight: 600;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  outline: none;
}

.next-button-wrap {
  display: flex;
  margin-left: 10px;
}

.next-button-wrap .arrow-button-image {
  filter: invert(0);
}

.next-button-wrap .double-arrow-button-image {
  filter: invert(0);
}

.page-button:hover {
  background-color: rgb(248, 248, 248);
}

.page-active {
  color: #00AE68;
}