/* mypageMyRecruitList.html */
/* mypageParticipateRecruitList.html */


#mypageMyRecruitList {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 768px;
  margin: 0px auto;
}

.my-recruit-list-header {
  border-bottom: 1px solid rgb(238, 238, 238);
  padding: 30px 0px;
}

.my-recruit-list-header-title {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 0px;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
}

.mypage-recruit-empty {
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 40px;
  }
  
  .mypage-recruit-empty-text {
    font-size: 11px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    color: rgb(155, 155, 155);
    margin-top: 24px;
  }

  .mypage-reply-paging-wrap {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    width: 100%;
    padding: 30px 0px;
    background-color: white;
  }
  
  .prev-button-wrap {
    display: flex;
    margin-right: 10px;
  }
  
  .double-arrow-button {
    width: 40px;
    height: 40px;
    line-height: normal;
    padding: 0px;
    background-color: white;
    text-align: center;
    cursor: not-allowed;
    border-radius: 50%;
    font-size: 18px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    outline: none;
  }
  
  .prev-button-wrap .double-arrow-button-image {
    transform: rotate(180deg);
    filter: invert(0);
  }
  
  .arrow-button {
    width: 40px;
    height: 40px;
    line-height: normal;
    padding: 0px;
    background-color: white;
    text-align: center;
    cursor: not-allowed;
    border-radius: 50%;
    font-size: 18px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    outline: none;
  }
  
  .prev-button-wrap .arrow-button-image {
    transform: rotate(180deg);
    filter: invert(0);
  }
  
  .page-number {
    width: 40px;
    height: 40px;
    line-height: normal;
    padding: 0px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    /* color: rgb(51, 151, 255); */
    font-size: 18px;
    font-weight: 600;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    outline: none;
  }
  
  .next-button-wrap {
    display: flex;
    margin-left: 10px;
  }
  
  .next-button-wrap .arrow-button-image {
    filter: invert(0);
  }
  
  .next-button-wrap .double-arrow-button-image {
    filter: invert(0);
  }
  
  .page-button:hover {
    background-color: rgb(248, 248, 248);
  }
  
  .page-active {
    color: #00AE68;
  }