/* main Css */

.main-container {
    min-height: 1px;
}

.main-whole-wrap {
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    margin: 0px auto;
    max-width: 808px;
    width: 100%;
    padding: 0px 20px;
    min-height: 1px;
}

.ad-list-wrap {
    position: relative;
    width: 100%;
    min-height: 1px;
}

.ad-list {
    width: auto;
    height: auto;
    transition: opacity 200ms ease-in-out 0s;
    display: none;
    opacity: 0;
    min-width: 0px;
    min-height: 1px;
    opacity: 1;
    display: block;
}

.ad-section {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    min-height: 1px;
    padding-bottom: 18px;
}

.ad-top {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 30px;
    line-height: 18px;
    font-size: 14px;
}

.ad-title {
    display: flex;
    max-width: calc(100% - 62px);
    font-size: 18px;
    line-height: 22px;
}

.ad-title-h2 {
    display: block;
    margin-right: 8px;
    font-weight: bold;
    color: black;
    font-size: inherit;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ad-whole-btn {
    min-width: 52px;
    position: relative;
    top: 10px;
}

.ad-whole-btn-a {
    color: black;
    width: 52px;

}

/* 탐험대 구하기 바디 */
/*.ad-body {
    display: flex;
    flex-flow: row wrap;
    min-height: 1px;
}*/

/* ------------------------------------------------------------------------------- */

/* 영준이 꺼 보드리스트*/
.boardList-wrapper {
    width: auto;
    height: auto;
    transition: opacity 200ms ease-in-out 0s;
    display: block;
    opacity: 1;
    min-width: 0px;
    min-height: 1px;
}

.view-boardList-wrapper {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    overflow-x: hidden;
}

/* 위에서 2개만 보더 탑 주기*/
.view-boardList-wrapper > :nth-child(1) {
    border-top: 1px solid rgb(238, 238, 238);
}
.view-boardList-wrapper > :nth-child(2) {
    border-top: 1px solid rgb(238, 238, 238);
}

.view-boardList-wrapper > div {
    max-width: 385px;
    width: 100%;
    padding: 30px 20px;
    border-bottom: 1px solid rgb(238, 238, 238);
    border-right: 1px solid rgb(238, 238, 238);
    margin-right: -1px;
}

.profile-wrapper {
    margin-bottom: 15px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.MemberProfile-wrapper {
    display: flex;
}

.MemberProfileImg-wrapper {
    width: 36px;
    height: 36px;
    margin-right: 10px;
}

.Image-wrapper {
    min-height: 1px;
}

.Image-style {
    display: initial;
    border-radius: 36px;
    width: 36px;
    height: 36px;
    object-fit: cover;
}

.MemberProfileText-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ProfileName {
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    color: rgb(78, 89, 104);
}

.RegistTime {
    font-size: 12px;
    line-height: 12px;
    color: rgb(142, 151, 163);
}

.boardImg-wrapper {
    cursor: pointer;
    height: 344px;
    border-radius: 20px;
    overflow: hidden;
    background-color: rgb(242, 243, 246);
    backface-visibility: hidden;
    transform: translate3d(0px, 0px, 0px);
}

.boardImg-wrapper div {
    padding-bottom: initial;
    height: 100%;
}

.introduceImage-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.boardCategory-wrapper {
    margin-left: 2px;
    margin-top: 10px;
    color: #80808099;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.boardTitle-wrapper {
    margin-left: 2px;
    margin-top: 5px;
}

.description-wrapper {
    margin-top: 10px;
    margin-bottom: 21px;
    letter-spacing: -0.4px;
}

.description-detail {
    font-size: 16px;
    color: rgb(78, 89, 104);
    white-space: pre-line;
}

.TextLine-Description {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 48px;
}

.Description-ExpandButton {
    padding: 0px;
    color: rgb(171, 182, 196);
}

.actionGroup-wrapper {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    color: rgb(78, 89, 104);
}

.actionGroup-wrapper span {
    margin-left: 8px;
}

.actionGroup-reply {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.view-boardList-wrapper .description-space {
    margin-top: 10px;
    margin-bottom: 5px;
}

/* 리뷰 관련 CSS */

.view-boardList-wrapper .description-space {
    margin-top: 10px;
    margin-bottom: 5px;
}

.reviewSummary-wrapper {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 10px;
}

.reviewStar-wrapper {
    display: flex;
    flex-flow: row nowrap;
}

.reviewStar-wrapper img {
    margin-right: 2px;
    width: 16px;
}

.reviewSummary-Average {
    margin: 0px 8px 0px 0px;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
}

.reviewCategory {
    display: block;
    color: rgb(119, 119, 119);
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
    margin: 12px 2px 0px;
}

.mypage-review-list-wrap {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    flex-flow: row wrap;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.mypage-review-list {
    margin-right: 5px;
    margin-left: 5px;
    -webkit-box-flex: 1;
    flex: 0 1 246px;
    width: 246px;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    background-color: white;
    margin-bottom: 30px;
}

.mypage-review-list:nth-child(3n) {
    margin-right: 0px;
}

.review-detail {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 5px;
    overflow: hidden;
}

.review-image-container {
    height: 0px;
    position: relative;
    width: 100%;
    padding-top: 79.2079%;
}

.review-image-wrap {
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.review-image {
    display: flex;
    border-radius: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.review-image-content-wrap {
    display: flex;
    flex-flow: column nowrap;
    line-height: 12px;
    padding: 20px;
    background-color: white;
    font-size: 12px;
    border-radius: inherit;
}

.review-category-name {
    margin-bottom: 8px;
    color: #808080b3;
}

.review-image-content {
    margin-bottom: 10px;
    height: 29px;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.review-point-wrapper {
    display: flex;
    font-size: 15px;
    align-items: center;
}

.review-star {
    width: 18px;
}

.review-point {
    margin-left: 5px;
    color: #5f5f5f;
}


/* 카테고리 */

.ButtonItem-list {
    display: flex;
    justify-content: center;
}

.CategoryItem {
    width: 115px;
    height: 46px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 50px;
    color: white;
    display: flex;
    font-weight: 600;
    opacity: 0.4;
}

.CategoryItem:last-child {
    margin: 0;
}

.ButtonItem {
    height: 46px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.category-Adventure {
    background-image: url('https://res.cloudinary.com/frientrip/image/upload/c_fill,dpr_2,f_auto,h_77,q_auto,w_162/category-outdoor_gch4e1');
    background-size: cover;
}

.category-Horror {
    background-image: url('https://res.cloudinary.com/frientrip/image/upload/c_fill,dpr_2,f_auto,h_77,q_auto,w_162/v1/categories/display_category_17_p');
    background-size: cover;
}
.category-Tour {
    background-image: url("https://res.cloudinary.com/frientrip/image/upload/c_fill,dpr_2,f_auto,h_77,q_auto,w_162/v1/categories/display_category_8_p");
    background-size: cover;
}
.category-Leisure {
    background-image: url("https://res.cloudinary.com/frientrip/image/upload/c_fill,dpr_2,f_auto,h_77,q_auto,w_162/v1/categories/display_category_2_p");
    background-size: cover;
}

.summaryButtton {
    margin-right: 7.9px;
    width: 114px;
}

.ButtonItem:hover {
    border-color: rgb(67, 136, 32);
    color: rgb(67, 136, 32);
}

.CategoryItem:hover {
    opacity: 1;
}

.CategoryActive {
    opacity: 1;
}

/*아무것도 없을때 띄울것*/

.emptyboard-wrapper {
    display: flex;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.mypage-reply-empty {
    width: 800px;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}
.mypage-reply-empty-text {
    font-size: 21px;
    font-weight: 300;
    line-height: 18px;
    text-align: center;
    color: #42861f;
    margin-top: 10px;
}