<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<a href="https://kauth.kakao.com/oauth/authorize?client_id=f181c492a9905256703765a748348ac1&redirect_uri=
http://localhost:10000/kakao/login&response_type=code">로그인</a>
<a href="https://kauth.kakao.com/oauth/logout?client_id=f181c492a9905256703765a748348ac1&logout_redirect_uri=http://localhost:10000/kakao/logout">로그아웃</a>
</body>
</html>