<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main/common.css">
    <link rel="stylesheet" href="/css/board/boardModal.css">
    <link rel="stylesheet" href="/css/board/boardDetail.css">
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/main/footer.css">
    <link rel="icon" href="/images/favicon.png"/>
    <title>탐험대 상세페이지</title>
</head>
<body>
<div th:insert="~{/main/header :: header}"></div>
<div class="modal-container" style="display: none;">
    <div class="modal">
        <div class="warn-modal">
            <div class="modal-content"></div>
        </div>
        <div class="modal-button-wrap">
            <button class="delete-button">삭제</button>
            <button class="cancel-button">취소</button>
        </div>
    </div>
</div>
<div class="text-modal" style="display: none">
    <div class="text-warn-modal">
        <div class="text-modal-content"></div>
    </div>
</div>
<div class="boardDetailPage-wrapper">
    <div class="boardDetailPage-contentWrapper">
        <!-- 원정대에 관한 상세정보 -->
        <div class="boardDetailPage-contentContainer">
            <!-- 컨셉 이미지와 작성자의 정보가 나오는 섹션 -->
            <section class="boardDetail-headSectionWrapper">
                <!-- 원정대 소개 사진들이 나오는 곳 -->
                <div class="presentationImage-wrapper RecruitImage-section">
                    <!-- 원정대 사진 출력 -->
                </div>
                <!-- 원정대 이름과 작성자가 나오는 곳 -->
                <div class="presentationInfo-wrapper">
                    <section class="presentationInfo-InfoSection infoSection-infoWrapper ">
                        <div class="infoSection-TitleWrapper">
                            <hgroup class="infoSection-TitleContainer">
                                <!-- 탐험대 title이 들어갈 곳 -->
                                <h1 class="infoSection-Title" th:text="${group.groupTitle}"></h1>
                                <div class="infoSection-actionWrapper" th:if="${group.groupCaptain == sessionId}">
                                    <a th:href="@{/groups/{groupId}/modify(groupId=${group.groupId})}">
                                        <span class="actionSection-title">수정</span>
                                    </a>
                                    <span class="actionSection-title deleteButton">삭제</span>
                                </div>
                            </hgroup>
                        </div>
                    </section>
                    <section class="presentationInfo-InfoSection infoSection-MemberWrapper ">
                        <div class="infoSection-MemberProfileWrapper">
                            <div class="ProfileInfo-wrapper">
                                <!-- 작성자의 프로필 이미지 나오는 곳 -->
                                <div class="ProfileInfo-profileImage">
                                    <!-- 그룹캡틴 이미지 뿌리기. -->
                                </div>
                                <!-- 작성자의 정보가 나오는 곳 -->
                                <div class="ProfileInfo-profileContent">
                                    <div class="Profile-MemberNameWrapper">
                                        <a href="">
                                                <span class="Profile-Nickname">
                                                    <!-- 작성자의 이름이 들어오는 곳 -->
                                                    <span th:text="${captain.memberName}"></span>
                                                </span>
                                        </a>
                                    </div>
                                    <!-- 작성자의 닉네임이 들어오는 곳-->
                                    <span class="Profile-MemberStat" th:text="'등록일:'+ ' ' + ${group.groupRegisterDate}">
                                        </span>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- 탐험대에 참가한 인원들의 프로필 이미지와 닉네임이 들어갈 곳 -->
                    <!-- 다하고 나중에 해볼곳 -->
                    <section class="presentationInfo-InfoSection infoSection-space">
                        <span>탐험대에 함께 하시는 분들</span>
                        <div class="OtherMemberCount-wrapper" style="display: none;">
                            <span class="OtherMember-title">아직 함께 하시는 탐험대원이 없습니다</span>
                        </div>
                        <div class="OtherMemberContent-container">
                            <div class="OtherMember-wrapper">
                                <a href="">
                                    <div class="OtherMember-profile">
                                        <div class="OtherMember-image">
                                            <!-- 유저의 프로필 사진을 가져오는 곳 -->
                                            <img class="Image-style recruit-Member"
                                                 src="https://k.kakaocdn.net/dn/bsSATJ/btry9gwkdhb/Y5L6OyBllzjAkOOMFYupF0/img_110x110.jpg">
                                        </div>
                                    </div>
                                    <!-- 유저의 닉네임을 받아올 곳 -->
                                    <span class="OtherMember-nickname">타인</span>
                                </a>
                            </div>
                            <div class="OtherMember-wrapper">
                                <a href="">
                                    <div class="OtherMember-profile">
                                        <div class="OtherMember-image">
                                            <!-- 유저의 프로필 사진을 가져오는 곳 -->
                                            <img class="Image-style recruit-Member"
                                                 src="https://k.kakaocdn.net/dn/bsSATJ/btry9gwkdhb/Y5L6OyBllzjAkOOMFYupF0/img_110x110.jpg">
                                        </div>
                                    </div>
                                    <!-- 유저의 닉네임을 받아올 곳 -->
                                    <span class="OtherMember-nickname">테스트용 긴 닉네임</span>
                                </a>
                            </div>
                        </div>
                    </section>
                    <section class="presentationInfo-InfoSection infoSection-infoWrapper ">
                        <div class="replyAction-wrapper">
                            <a th:href="@{/replies/list/{groupId}(groupId=${group.groupId})}">
                                <span>댓글 바로가기 ></span>
                            </a>
                        </div>
                    </section>
                </div>
            </section>
            <!-- 나타낼 기본 정보가 나오는 섹션 -->
            <section class="boardDetail-sectionContainer">
                <article>
                    <header class="Article-header">
                        <hgroup>
                            <h2 class="Article-title">탐험대 모집 상세</h2>
                        </hgroup>
                    </header>
                    <dl class="ArticleInfoSection-infoContainer">
                        <div>
                            <dt>탐험대 명</dt>
                            <!-- 탐험대 명을 받아오는 곳 -->
                            <dd style="color: #2c5815; font-weight: bold" th:text="${group.groupName}"></dd>
                        </div>
                        <div>
                            <dt>주소</dt>
                            <!-- 모집 location을 받아오는 곳 -->
                            <dd th:text="${group.groupLocation}"></dd>
                        </div>
                        <div>
                            <dt>시간</dt>
                            <!-- 만남 시간을 담는 곳 -->
                            <dd th:text="${group.groupMeetDate}"></dd>
                        </div>
                        <div>
                            <dt>인원</dt>
                            <!-- maxvalue를 담을 곳 -->
                            <dd th:text="'최대 ' + ${group.groupMaxValue} + '명'"></dd>
                        </div>
                        <div>
                            <dt>모집마감</dt>
                            <!-- 모집 마감 시간을 담을 곳 -->
                            <dd th:text="${group.groupEndDate}"></dd>
                        </div>
                    </dl>
                </article>
            </section>
            <section class="boardDetail-sectionContainer">
                <article>
                    <header class="Article-header">
                        <hgroup>
                            <h2 class="Article-title">탐험대 소개</h2>
                        </hgroup>
                    </header>
                    <!-- 탐험대 작성 content가 들어갈 곳 -->
                    <div class="InfoRecruitDetail-section">
                        <p th:text="${group.groupContent}">
                        </p>
                    </div>
                </article>
            </section>
            <section class="boardDetail-sectionContainer">
                <article>
                    <header class="Article-header">
                        <hgroup>
                            <h2 class="Article-title">진행하는 장소</h2>
                        </hgroup>
                    </header>
                    <div class="placeMapSection-container">
                        <div class="placeMapContainer">
                            <!-- 지도를 표시할 div 입니다 -->
                            <div id="map" style="width:100%; height:170px;"></div>
                            <div class="place-container">
                                <div class="placeLocation-container">
                                    <div class="placeLocationTitle-container">
                                        <strong class="placeLocationTitle">주소</strong>
                                        <span id="coordAddr" class="placeLocationTitleDetail"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
        </div>
        <!-- 원정대에 참여할 건지 결정하는 버튼 -->
        <div class="floatActionBar-wrapper" th:unless="${joinedMember.contains(sessionId)}">
            <div class="floatActionBar-buttonWrapper">
                <!-- sessionId가 있을때만 버튼이 활성화 됨 -->
                <button class="floatActionBar-submitButton button-enterRecruit"
                        >
                    <div class="enterButton-Text">참여하기</div>
                </button>
            </div>
        </div>
    </div>
</div>
<div th:insert="~{/main/footer :: footer}"></div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e010e1c47083a81e5873ca2682380a56&libraries=services"></script>
<script th:inline="javascript">
    let group = [[${group}]];
    let captain = [[${captain}]];
    let sessionId = [[${sessionId}]];
    let maxValue = [[${maxValue}]];
    let currentValue = [[${currentValue}]];
    let groupId = [[${groupId}]];
    let joinedMember = [[${joinedMember}]];
    console.log(maxValue);
    console.log(currentValue);
    console.log(group);
    console.log(captain);
    console.log(joinedMember);
</script>
<script type="text/javascript" src="/js/board/boardDetail.js"></script>
<script type="text/javascript" src="/js/board/groupDetail.js"></script>
<script src="/js/main/header.js"></script>
</html>