<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/static/css/main/common.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/board/boardMake.css">
    <link rel="icon" href="/src/main/resources/static/images/favicon.png" />
    <title>탐험대 내용 수정</title>
</head>
<body>
    <div id="header"></div>
    <div class="SectionWrapper">
        <div class="makeSection-wrapper">
            <div class="makeSection-header">
                <span style="font-weight: 700;">탐험대 수정</span>
            </div>
            <div class="SectionMaker-Wrapper">
                <div class="SectionMaker-contentWrapper">
                    <form action="">
                        <div class="formSection-contentContainer">
                            <div class="formTitle-wrapper">
                                <div class="formTitle">
                                    <legend class="formTitle-legend">
                                        <span>탐험대 명</span>
                                    </legend>
                                    <!-- 탐험대 이름이 들어갈 곳 -->
                                    <input name="groupName" class="formInputBox" type="text" placeholder="탐험대 명을 입력해주세요" value="탐험대1">
                                </div>
                                <p class="warnMessage"></p>
                            </div>
                        </div>
                        <hr class="space">
                        <div class="formSection-contentContainer">
                            <div class="formTitle-wrapper">
                                <div class="formTitle">
                                    <legend class="formTitle-legend">
                                        <span>제목</span>
                                    </legend>
                                    <!-- 탐험대를 만들 제목이 들어갈 곳 -->
                                    <input name="groupTitle" class="formInputBox" type="text" placeholder="제목을 입력해주세요" value="흉가체험!">
                                </div>
                                <p class="warnMessage"></p>
                            </div>
                        </div>
                        <hr class="space">
                        <div class="formSection-contentContainer">
                            <div class="formTitle-wrapper">
                                <div class="formTitle">
                                    <legend class="formTitle-legend">
                                        <span>장소</span>
                                    </legend>
                                    <!-- group이 만날 장소 값이 들어갈 곳 -->
                                    <input name="groupLocation" id="address-kakao" class="formInputBox" type="text" placeholder="상세 주소" value="경기도 용인시 기흥구 상하동">
                                </div>
                            </div>
                        </div>
                        <hr class="space">
                        <div class="formSection-contentContainer">
                            <div class="formTitle-wrapper">
                                <div class="formTitle">
                                    <legend class="formTitle-legend">
                                        <span>카테고리</span>
                                    </legend>
                                    <div class="ButtonItem-list">
                                        <!-- 선택한 카테고리값이 들어갈 곳 -->
                                        <input type="radio" name="groupCategory" id="adventure" value="adventure" style="display: none;" checked>
                                        <button type="button" class="CategoryItem category-Adventure CategoryActive">
                                            <span>모험</span>
                                        </button>
                                        <input type="radio" name="groupCategory" id="horror" style="display: none;" value="horror" >
                                        <button type="button" class="CategoryItem category-Horror" value="공포">
                                            <div>공포</div>
                                        </button>
                                        <input type="radio" name="groupCategory" id="tour" style="display: none;" value="tour" >
                                        <button type="button" class="CategoryItem category-Tour">
                                            <div>관광</div>
                                        </button>
                                        <input type="radio" name="groupCategory" id="leisure" style="display: none;" value="leisure" >
                                        <button type="button" class="CategoryItem category-Leisure">
                                            <div>레저</div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="space">
                        <div class="formSection-contentContainer">
                            <div class="formTitle-wrapper">
                                <div class="formTitle">
                                    <legend class="formTitle-legend">
                                        <span>모집 인원</span>
                                    </legend>
                                    <input name="groupMaxValue" class="formInputBox" type="text" placeholder="모집 인원을 적어주세요. 예) 7" value="10">
                                </div>
                                <p class="warnMessage"></p>
                            </div>
                        </div>
                        <hr class="space">
                        <div class="formSection-contentContainer">
                            <div class="formTitle-wrapper">
                                <div class="formTitle">
                                    <legend class="formTitle-legend">
                                        <span>모집 마감</span>
                                    </legend>
                                        <input name="groupEndDate" class="formTime" type="datetime-local" value="2023-03-23T18:00">
                                    <legend class="formTitle-legend form-meetEndTime">
                                        <span>만남 시간</span>
                                    </legend>
                                        <input name="groupMeetDate" class="formTime" type="datetime-local" value="2023-03-26T16:00">
                                </div>
                            </div>
                        </div>
                        <hr class="space">
                        <div class="formSection-contentContainer">
                            <div class="formTitle-wrapper form-image">
                                <div class="formTitle">
                                    <legend class="formTitle-legend image-legend">
                                        <span>대표 이미지</span>
                                    </legend>
                                </div>
                                <div class="addMainImage-wrapper">
                                    <div class="MainImage-wrapper">
                                        <label for="attach">
                                            <div class="container-imageInput">
                                                <div class="imgText-container">
                                                    <img src="https://frip.host/img/add.85e31315.svg" alt="+">
                                                    <div class="imgStatus">이미지 추가하기</div>
                                                </div>
                                            </div>
                                        </label>
                                        <input name="groupFile" type="file" id="attach" style="display: none;">
                                        <!-- 받아온 이미지가 background 로 들어가는 곳 -->
                                        <div class="showThumbnail-section">
                                            <span class="cancelImage">X</span>
                                        </div>
                                    </div>
                                    <div class="text-detail"> 최소 사이즈: 가로 600px * 세로 600px </div>
                                    <div class="text-detail"> 용량: 10MB 이하, 파일유형: JPG, PNG, GIF </div>
                                </div>
                            </div>
                        </div>
                        <hr class="space">
                        <div class="formSection-contentContainer">
                            <div class="formTitle-wrapper">
                                <div class="formTitle">
                                    <legend class="formTitle-legend">
                                        <span>탐험대 소개</span>
                                    </legend>
                                    <textarea name="groupContent" class="detailText-text" placeholder="상세 내용을 적어주세요">테스트용 내용이 들어가있습니다</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="bottomButton-wrapper">
                            <button class="registButton-button" disabled>수정하기</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="footer"></div>
</body>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    $("#header").load("/src/main/resources/templates/main/header.html")
    $("#footer").load("/src/main/resources/templates/main/footer.html")
</script>
<script src="../../static/js/board/recruitModify.js"></script>
</html>