<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/main/common.css">
    <link rel="stylesheet" href="../../static/css/board/boardDetail.css">
    <link rel="icon" href="../../static/images/favicon.png" />
    <title>탐험대 상세페이지</title>
</head>
<body>
    <div id="header"></div>
    <div class="boardDetailPage-wrapper">
        <div class="boardDetailPage-contentWrapper">
            <!-- 원정대에 관한 상세정보 -->
            <div class="boardDetailPage-contentContainer">
                <!-- 컨셉 이미지와 작성자의 정보가 나오는 섹션 -->
                <section class="boardDetail-headSectionWrapper">
                    <!-- 원정대 소개 사진들이 나오는 곳 -->
                    <div class="presentationImage-wrapper RecruitImage-section">
                        <div class="presentationImage-content">
                            <div class="introduceImage-wrapper">
                                <!-- 이미지가 들어갈 곳 -->
                                <img style="height: 375px;" src="https://res.cloudinary.com/frientrip/image/upload/ios_image_1306431_20230311161025477_a3e6d7c9da6c8a0b53f3bb36d1abb1314034681576f6c523d3da0613e9307e75" alt="">
                            </div>
                        </div>
                    </div>
                    <!-- 원정대 이름과 작성자가 나오는 곳 -->
                    <div class="presentationInfo-wrapper">
                        <section class="presentationInfo-InfoSection infoSection-infoWrapper ">
                            <div class="infoSection-TitleWrapper">
                                <hgroup class="infoSection-TitleContainer">
                                    <h1 class="infoSection-Title">[오싹/공포]흉가체험</h1>
                                    <div class="infoSection-actionWrapper">
                                        <span class="actionSection-title">수정</span>
                                        <span class="actionSection-title">삭제</span>
                                    </div>
                                </hgroup>
                            </div>
                        </section>
                        <section class="presentationInfo-InfoSection infoSection-MemberWrapper ">
                            <div class="infoSection-MemberProfileWrapper">
                                <div class="ProfileInfo-wrapper">
                                    <!-- 작성자의 프로필 이미지 나오는 곳 -->
                                    <div class="ProfileInfo-profileImage">
                                        <a href="">
                                            <div class="Image-wrapper">
                                                <!-- 유저의 프로필 사진을 가져오는 곳 -->
                                                <img class="Image-style" src="https://k.kakaocdn.net/dn/bsSATJ/btry9gwkdhb/Y5L6OyBllzjAkOOMFYupF0/img_110x110.jpg">
                                            </div>
                                        </a>
                                    </div>
                                    <!-- 작성자의 정보가 나오는 곳 -->
                                    <div class="ProfileInfo-profileContent">
                                        <div class="Profile-MemberNameWrapper">
                                            <a href="">
                                                <span class="Profile-Nickname">
                                                    <!-- 작성자의 닉네임이 들어오는 곳 -->
                                                    <span>댕댕쓰</span>
                                                </span>
                                            </a>
                                        </div>
                                        <span class="Profile-MemberStat">
                                            <!-- 작성자가 소유한 원정대 갯수 받는 곳 -->
                                            보유 탐험대 2
                                            <span>|</span>
                                            <!-- 작성자가 작성한 리뷰의 갯수 받는 곳 -->
                                            탐사 보고서 3
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- 탐험대에 참가한 인원들의 프로필 이미지와 닉네임이 들어갈 곳 -->
                        <section class="presentationInfo-InfoSection infoSection-space">
                            <span>탐험대에 함께 하시는 분들</span>
                            <div class="OtherMemberCount-wrapper" style="display: none;">
                                <span class="OtherMember-title">아직 함께 하시는 탐험대원이 없습니다</span>
                            </div>
                            <div class="OtherMemberContent-container">
                                <div class="OtherMember-wrapper">
                                    <a href="">
                                        <div class="OtherMember-profile">
                                            <div class="OtherMember-image">
                                                <!-- 유저의 프로필 사진을 가져오는 곳 -->
                                                <img class="Image-style recruit-Member" src="https://k.kakaocdn.net/dn/bsSATJ/btry9gwkdhb/Y5L6OyBllzjAkOOMFYupF0/img_110x110.jpg">
                                            </div>
                                        </div>
                                        <span class="OtherMember-nickname">타인</span>
                                    </a>
                                </div>
                                <div class="OtherMember-wrapper">
                                    <a href="">
                                        <div class="OtherMember-profile">
                                            <div class="OtherMember-image">
                                                <!-- 유저의 프로필 사진을 가져오는 곳 -->
                                                <img class="Image-style recruit-Member" src="https://k.kakaocdn.net/dn/bsSATJ/btry9gwkdhb/Y5L6OyBllzjAkOOMFYupF0/img_110x110.jpg">
                                            </div>
                                        </div>
                                        <span class="OtherMember-nickname">테스트용 긴 닉네임</span>
                                    </a>
                                </div>
                            </div>
                        </section>
                        <section class="presentationInfo-InfoSection infoSection-infoWrapper ">
                            <div class="replyAction-wrapper">
                                <span>댓글 바로가기 ></span>
                            </div>
                        </section>
                    </div>
                </section>
                <!-- 나타낼 기본 정보가 나오는 섹션 -->
                <section class="boardDetail-sectionContainer">
                    <article>
                        <header class="Article-header">
                            <hgroup>
                                <h2 class="Article-title">모집 상세</h2>
                            </hgroup>
                        </header>
                        <dl class="ArticleInfoSection-infoContainer">
                            <div>
                                <dt>장소</dt>
                                <dd>용인</dd>
                            </div>
                            <div>
                                <dt>시간</dt>
                                <dd>3.12(일) 오후 7시</dd>
                            </div>
                            <div>
                                <dt>인원</dt>
                                <dd>최대 6명</dd>
                            </div>
                            <div>
                                <dt>모집마감</dt>
                                <dd>3.11(토) 오후 11시</dd>
                            </div>
                        </dl>
                    </article>
                </section>
                <section class="boardDetail-sectionContainer">
                    <article>
                        <header class="Article-header">
                            <hgroup>
                                <h2 class="Article-title">탐험대 소개</h2>
                            </hgroup>
                        </header>
                        <div class="InfoRecruitDetail-section">
                            <p>
                                여기는 작성자가 탐험대에 관해 소개하는 내용이 나오는 곳입니다

                                1. 모집 장소 : 용인
                                2. 시간 : 3.12(일) 오후 7시
                                3. 인원 : 6명까지
                                4. 모집 마감 : 3.11(토) 오후 11시

                                탐험장소 소개
                                용인에 있는 폐 정신병원
                                ※ 오싹한 걸 좋아하시는 분들은 함께 가시면 좋을거 같습니다 :)
                                혹시나 무서워서 지리셔도 책임지지 않습니다

                            </p>
                        </div>
                    </article>
                </section>
                <section class="boardDetail-sectionContainer">
                    <article>
                        <header class="Article-header">
                            <hgroup>
                                <h2 class="Article-title">진행하는 장소</h2>
                            </hgroup>
                        </header>
                        <div class="placeMapSection-container">
                            <div class="placeMapContainer">
                                <!-- 지도를 표시할 div 입니다 -->
                                <div id="map" style="width:100%; height:170px;"></div>
                                <div class="place-container">
                                    <div class="placeLocation-container">
                                        <div class="placeLocationTitle-container">
                                            <strong class="placeLocationTitle">정신병원</strong>
                                            <span id="coordAddr" class="placeLocationTitleDetail"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </section>
            </div>
            <!-- 원정대에 참여할 건지 결정하는 버튼 -->
            <div class="floatActionBar-wrapper">
                <div class="floatActionBar-buttonWrapper">
                    <button class="floatActionBar-submitButton button-enterRecruit">
                        <div class="enterButton-Text">참여하기</div>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="footer"></div>
</body>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e010e1c47083a81e5873ca2682380a56&libraries=services"></script>
<script type="text/javascript" src="../../static/js/board/boardDetail.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    $("#header").load("/src/main/resources/templates/main/header.html")
    $("#footer").load("/src/main/resources/templates/main/footer.html")
</script>
</html>