/* 공통 */

button {
    cursor: pointer;
}


/* 게시글 관련 */

.boardPage-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 768px;
    margin: 0px auto;
}

.boardPage-header {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.boardPage-title {
    color: rgb(51, 61, 75);
    font-weight: bold;
    font-size: 24px;
}

.boardList-wrapper {
    width: auto;
    height: auto;
    transition: opacity 200ms ease-in-out 0s;
    display: block;
    opacity: 1;
    min-width: 0px;
    min-height: 1px;
}

.emptyboard-wrapper {
    display: flex;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.view-boardList-wrapper {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    overflow-x: hidden;
}

.view-boardList-wrapper > div {
    max-width: 385px;
    width: 100%;
    padding: 30px 20px;
    border-bottom: 1px solid rgb(238, 238, 238);
    border-right: 1px solid rgb(238, 238, 238);
    margin-right: -1px;
}

.profile-wrapper {
    margin-bottom: 15px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.MemberProfile-wrapper {
    display: flex;
}

.MemberProfileImg-wrapper {
    width: 36px;
    height: 36px;
    margin-right: 10px;
}

.Image-wrapper {
    min-height: 1px;
}

.Image-style {
    display: initial;
    border-radius: 36px;
    width: 36px;
    height: 36px;
    object-fit: cover;
}

.MemberProfileText-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ProfileName {
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    color: rgb(78, 89, 104);
}

.RegistTime {
    font-size: 12px;
    line-height: 12px;
    color: rgb(142, 151, 163);
}

.boardImg-wrapper {
    cursor: pointer;
    height: 344px;
    border-radius: 20px;
    overflow: hidden;
    background-color: rgb(242, 243, 246);
    backface-visibility: hidden;
    transform: translate3d(0px, 0px, 0px);
}

.boardImg-wrapper div {
    padding-bottom: initial;
    height: 100%;
}

.introduceImage-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.description-wrapper {
    margin-bottom: 21px;
    letter-spacing: -0.4px;
}

.description-detail {
    font-size: 16px;
    color: rgb(78, 89, 104);
    white-space: pre-line;
}

.TextLine-Description {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 48px;
}

.Description-ExpandButton {
    padding: 0px;
    color: rgb(171, 182, 196);
}

.actionGroup-wrapper {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    color: rgb(78, 89, 104);
}

.actionGroup-wrapper span {
    margin-left: 8px;
}

.actionGroup-reply {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

/* 모집 게시판 관련 */

.CategoryItem-list {
    display: flex;
}

.CategoryItem {
    width: 115px;
    display: flex;
    align-items: flex-end;
    height: 50px;
    border-radius: 5px;
    padding: 6px 10px;
    background-color: rgb(244, 244, 244);
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    position: relative;
    margin-right: 10px;
    opacity: 0.5;
    cursor: pointer;
}

.CategoryItem span {
    z-index: 1;
}

.Category-background {
    background-color: rgb(17, 17, 17);
    height: 100%;
    width: 100%;
    left: 0px;
    bottom: 0px;
    position: absolute;
    border-radius: 5px;

}

.category-Adventure {
    background-image: url('https://res.cloudinary.com/frientrip/image/upload/c_fill,dpr_2,f_auto,h_77,q_auto,w_162/category-outdoor_gch4e1');
    background-size: cover;
}

.category-Horror {
    background-image: url('https://res.cloudinary.com/frientrip/image/upload/c_fill,dpr_2,f_auto,h_77,q_auto,w_162/v1/categories/display_category_17_p');
    background-size: cover;
}

.category-Tour {
    background-image: url("https://res.cloudinary.com/frientrip/image/upload/c_fill,dpr_2,f_auto,h_77,q_auto,w_162/v1/categories/display_category_8_p");
    background-size: cover;
}

.category-Leisure {
    background-image: url("https://res.cloudinary.com/frientrip/image/upload/c_fill,dpr_2,f_auto,h_77,q_auto,w_162/v1/categories/display_category_2_p");
    background-size: cover;
}

.boardCategory-wrapper {
    margin-left: 2px;
    margin-top: 10px;
    color: #80808099;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.boardTitle-wrapper {
    margin-top: 5px;
}

.CategoryItem:hover {
    opacity: 1;
}

.CategoryActive {
    opacity: 1;
}


/* 리뷰 페이지 관련 */

.view-boardList-wrapper .description-space {
    margin-top: 10px;
    margin-bottom: 5px;
}

.reviewSummary-wrapper {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 10px;
}

.reviewStar-wrapper {
    display: flex;
    flex-flow: row nowrap;
}

.reviewStar-wrapper img {
    margin-right: 2px;
    width: 16px;
}

.reviewSummary-Average {
    margin: 0px 8px 0px 0px;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
}

.reviewCategory {
    display: block;
    color: rgb(119, 119, 119);
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
    margin: 12px 2px 0px;
}

/* 게시글 작성용 버튼 */
.FloatingButton-wrapper {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

.FloatingButton-layoutWrapper {
    position: relative;
    max-width: 768px;
    width: 100%;
    margin: 0px auto;
}

.plusLink-icon {
    position: absolute;
    right: 20px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid rgb(242, 242, 242);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px 0px;
    background-color: rgb(255, 255, 255);
    bottom: calc(34px + env(safe-area-inset-bottom));
}

.plusLink-icon img {
    width: 18px;
}


.BoardList-reviewWrapper {
    padding-top: 30px;
}

/* 지욱이형 리뷰 리스트 */

.mypage-review-list-wrap {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    flex-flow: row wrap;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.mypage-review-list {
    margin-right: 5px;
    margin-left: 5px;
    -webkit-box-flex: 1;
    flex: 0 1 246px;
    width: 246px;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    background-color: white;
    margin-bottom: 30px;
}

.mypage-review-list:nth-child(3n) {
    margin-right: 0px;
}

.review-detail {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 5px;
    overflow: hidden;
}

.review-image-container {
    height: 0px;
    position: relative;
    width: 100%;
    padding-top: 79.2079%;
}

.review-image-wrap {
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.review-image {
    display: flex;
    border-radius: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.review-image-content-wrap {
    display: flex;
    flex-flow: column nowrap;
    line-height: 12px;
    padding: 20px;
    background-color: white;
    font-size: 12px;
    border-radius: inherit;
}

.review-category-name {
    margin-bottom: 8px;
    color: #808080b3;
}

.review-image-title {
    margin-bottom: 10px;
    height: 24px;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.review-image-content {
    margin-bottom: 10px;
    height: 20px;
    line-height: normal;
    font-size: 14px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.review-point-wrapper {
    display: flex;
    font-size: 15px;
    align-items: center;
}

.review-star {
    width: 18px;
}

.review-point {
    margin-left: 5px;
    color: #5f5f5f;
}

/*아무것도 없을때 띄울것*/
.mypage-reply-empty {
    width: 800px;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}
.mypage-reply-empty-text {
    font-size: 21px;
    font-weight: 300;
    line-height: 18px;
    text-align: center;
    color: #42861f;
    margin-top: 10px;
}

/* 지욱이형 페이징 버튼 */
.mypage-reply-paging-wrap {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    width: 100%;
    padding: 30px 0px;
    background-color: white;
}

.board-paging-wrap {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    width: 100%;
    padding: 30px 0px;
    background-color: white;
}

.prev-button-wrap {
    display: flex;
    margin-right: 10px;
}

.double-arrow-button {
    width: 40px;
    height: 40px;
    line-height: normal;
    padding: 0px;
    background-color: white;
    text-align: center;
    cursor: not-allowed;
    border-radius: 50%;
    font-size: 18px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    outline: none;
}

.prev-button-wrap .double-arrow-button-image {
    transform: rotate(180deg);
    filter: invert(0);
}

.arrow-button {
    width: 40px;
    height: 40px;
    line-height: normal;
    padding: 0px;
    background-color: white;
    text-align: center;
    cursor: not-allowed;
    border-radius: 50%;
    font-size: 18px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    outline: none;
}

.prev-button-wrap .arrow-button-image {
    transform: rotate(180deg);
    filter: invert(0);
}

.page-number {
    width: 40px;
    height: 40px;
    line-height: normal;
    padding: 0px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    /* color: rgb(51, 151, 255); */
    font-size: 18px;
    font-weight: 600;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    outline: none;
}

.next-button-wrap {
    display: flex;
    margin-left: 10px;
}

.next-button-wrap .arrow-button-image {
    filter: invert(0);
}

.next-button-wrap .double-arrow-button-image {
    filter: invert(0);
}

.page-button:hover {
    background-color: rgb(248, 248, 248);
}

.page-active {
    color: #00AE68;
}