<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.captain.mapper.NoticeMapper">
    <select id="select" resultType="noticeVO">
        select notice_id, notice_title, notice_content, notice_register_date
        from tbl_notice
        where notice_id = #{noticeId}
    </select>

    <select id="selectAll" resultType="noticeVO">
        select notice_id, notice_title, notice_content, notice_register_date
        from tbl_notice
        order by notice_id desc limit #{cri.offset}, #{cri.rowCount}
    </select>

    <select id="selectNoticeCount" resultType="integer">
        select count(notice_id)
        from tbl_notice
    </select>

    <update id="updateNotice">
        update tbl_notice
        set notice_title=#{noticeTitle}, notice_content=#{noticeContent}
        where notice_id=#{noticeId};
    </update>

    <insert id="insertNotice">
        insert into tbl_notice
        (notice_title, notice_content)
        values(#{noticeTitle}, #{noticeContent})
    </insert>

    <delete id="deleteNotice">
        delete from tbl_notice
        where notice_id = #{noticeId};
    </delete>
</mapper>