<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.captain.mapper.ReviewMapperTests">
    <insert id="insert">
        insert into tbl_review
        (review_title, review_content, review_category, review_grade, group_id)
        values(#{reviewTitle}, #{reviewContent}, #{reviewCategory}, #{reviewGrade}, #{groupId})
    </insert>

    <update id="update">
        update tbl_review
        set review_title= #{reviewTitle}, review_content = #{reviewContent} , review_category = #{reviewCategory}, review_grade= #{reviewGrade}
        where review_id= #{reviewId}
    </update>

    <select id="select" resultType="reviewVO">
        select review_id, review_title, review_content, review_category, review_register_date, review_update_date, review_grade, group_id
        from tbl_review
        where review_id = #{reviewId}
    </select>

    <delete id="delete">
        delete from tbl_review
        where review_id = #{reviewId}
    </delete>

    <select id="selectAll" resultType="reviewVO">
        select review_id, review_title, review_content, review_category, review_register_date, review_update_date, review_grade, group_id
        from tbl_review
    </select>

</mapper>