/* findPassword Css */
@charset "UTF-8";

.pw-change-wrap {
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    margin: 0px auto;
    max-width: 808px;
    width: 100%;
    padding: 0px;
    min-height: 410px;
}

.pw-change-title {
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 50px;
    position: relative;
}

.pw-change-form {
    width: 100%;
    max-width: 400px;
    margin: 0px auto 12px;
    padding: 24px 20px;
}

.change-password {
    height: 50px;
    width: 100%;
    padding: 14px 14px 12px;
    color: rgb(17, 17, 17);
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.42px;
    border-radius: 3px;
    background-color: rgb(250, 250, 250);
    margin: 4px 0px 8px;
    border: 1px solid rgb(238, 238, 238);
}

.change-password-p {
    margin-bottom: 6px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.36px;
    color: rgb(170, 170, 170);
}

input[type='checkbox'] {
    border: 0px;
    clip: rect(0px, 0px, 0px, 0px);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0px;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.find-password {
    color: rgb(69 147 107);
    line-height: 20px;
    float: right;
    border-bottom: 1px solid rgb(170, 170, 170);
}

.email-btn:disabled {
    background-color: #00800082;
    cursor: not-allowed;
}

.email-btn {
    width: 100%;
    height: 56px;
    line-height: 24px;
    padding: 16px;
    background-color: #05AE68;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    color: rgb(244, 244, 244);
    font-size: 16px;
    margin: 33px 0px 0px;
    border: none;
}

.send-email-wrap {
    margin-top: 20px;
}

.send-email-complete {
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 50px;
    position: relative;

}

.send-email-complete h3 {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.54px;
    color: rgb(51, 51, 51);
    text-align: center;
    font-weight: bold;
    margin: 0px;
}

.send-email-content-wrap {
    width: 100%;
    max-width: 400px;
    margin: 0px auto 60px;
    padding: 24px 20px;
    text-align: center;
}

.content-title {
    font-size: 16px;
    line-height: 24px;
    color: rgb(51, 51, 51);
}

.content-main {
    margin-top: 16px;
    font-size: 12px;
    line-height: 16px;
    color: rgb(170, 170, 170);
}

.login-button {
    text-align: center;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 13px;
    border: 1px solid rgb(238, 238, 238);
    width: 100%;
    height: 56px;
    color: white;
    background-color: #05AE68;
    border-radius: 10px;
    font-size: 16px;
    line-height: 24px;
    margin-top: 100px;
}